[2013-04-09 20:25] gsnedders opened #1 "pyflakes finds a lot of issues in html5lib (some critical like the "undefined" ones at the bottom)"
From Google Code, issue #221, reported by @mo. This is a more recent run post python3 merge below.

[code]

[2013-04-09 20:31] gsnedders opened #2 "Support Jython"
From Google Code Issue 220:

Reported by steve@strassmann.com, Mar 1, 2013

import html5lib
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "lib/html5lib/__init__.py", line 14, in <module>
    from html5parser import HTMLParser, parse, parseFragment
  File "lib/html5lib/html5parser.py", line 33, in <module>
    import inputstream
UnicodeDecodeError: 'unicodeescape'

[2013-04-09 20:38] gsnedders opened #3 "Typo in simpletree Document, utf-8^ instead of utf-8"
Reported by maks.tsoy, Dec 24, 2012

[2013-04-09 20:53] gsnedders opened #4 "Infinite loop with nested button"
http://code.google.com/p/html5lib/issues/detail?id=211

Reported by joseph@metaoptimize.com, Aug 24, 2012

 Aug 24, 2012 waylan

 Aug 24, 2012 joseph@metaoptimize.com

[2013-04-09 21:08] gsnedders opened #5 "Document all dependencies, both required and optional"
This is the basic outcome of issue 201 on GCode.

[2013-04-09 21:12] gsnedders opened #6 "html5lib.treebuilders.dom.dom2sax crashes on 'xml:lang' attribute"
http://code.google.com/p/html5lib/issues/detail?id=200

Reported by vovanec, Mar 6, 2012

[code]

[2013-04-09 21:23] gsnedders opened #7 "AssertionError on some random case"
http://code.google.com/p/html5lib/issues/detail?id=190

Reported by marko.koivusalo, Sep 12, 2011

  File "build/bdist.linux-x86_64/egg/html5lib/inputstream.py", line 285, in detectBOM
    self.rawStream.seek(encoding and seek or 0)
  File "build/bdist.linux-x86_64/egg/html5lib/inputstream.py", line 50, in seek
    assert pos < self._bufferedBytes()
AssertionError```

[2013-04-09 21:27] gsnedders opened #8 "HTMLParser is not threadsafe"
http://code.google.com/p/html5lib/issues/detail?id=189

Reported by devin.bayer, Jul 25, 2011

 Sep 16, 2011 geoffers

 Sep 16, 2011 devin.bayer

 Mar 11, 2012 nagle@animats.com

[2013-04-09 21:34] gsnedders opened #9 "HTMLSanitizer can't be used as a tokenizer"
Reported by devin.bayer, Jun 7, 2011

 Jun 7, 2011 devin.bayer

[code]

[2013-04-09 23:00] gsnedders opened #10 "Implement scripting disabled case."
Since people have requested this.

[2013-04-09 23:07] gsnedders opened #11 "Quote attributes containing weird whitespace or '<'"
http://code.google.com/p/html5lib/issues/detail?id=93

Reported by zcorpan, Feb 27, 2009

characters are treated as whitespace.

+180E, U+180F, U+2000, U+2001, U+2002, U+2003, U+2004, U+2005, U+2006, U
+2007, U+2008, U+2009, U+200A, U+2028, U+2029, U+202F, U+205F and U+3000

you should probably also quote attribute values that contain "<".

 Apr 27, 2009 excors

quoting:

Konqueror 4.1: U+0000 to

[2013-04-09 23:11] gsnedders opened #12 "Possible to make IE run script after roundtripping in html5lib"
http://code.google.com/p/html5lib/issues/detail?id=92

Reported by zcorpan, Feb 27, 2009

 Feb 27, 2009 t.broyer

 Mar 10, 2009 sad.neko

 Sep 4, 2009 Simetrical

 Sep 6, 2009 zcorpan

 Oct 18, 2009 geoffers

Related to #11.

[2013-04-10 11:54] gsnedders opened #13 "Cleanup InputStream"
InputStream is a mess. We should clean up so the legacy entry-point does all the magic, and all the internal code is clean.

We should have an abstract base class that defines the methods an InputStream must support, including concrete implementations when possible (charsUntil should be implementable based on lower-level APIs, for example). We should have two concrete classes inheriting from this:

[2013-04-10 12:38] #3 closed, assigned to gsnedders

[2013-04-10 13:33] gsnedders opened #14 "skip first BOM test is invalid"
Sent upstream to https://github.com/html5lib/html5lib-tests/issues/2

[2013-04-11 12:31] #14 closed, assigned to nobody

[2013-04-11 17:21] gsnedders opened #16 "Cleanup AAA comments"
https://github.com/html5lib/html5lib-python/commit/3facc99ceca0bd03bf5028c149302444f0ed0253 left the comments in an inconsistent state, some updated, others not. We should make these consistent.

[2013-04-11 21:03] gsnedders opened #18 "Remove trailing whitespace"
`find . -name '*.py' -print0 | xargs -0 sed -i -e 's/\s*$//g'` will do. Should wait until there are no outstanding branches for the sake of them merging cleanly.

[2013-04-13 14:23] gsnedders opened #19 "ResourceWarning on tests"
Not seen this locally, oddly, but Travis CI always hits it:

[code]

[2013-04-13 14:37] #18 closed, assigned to gsnedders

[2013-04-13 21:12] gsnedders opened #21 "Grant gsnedders permission to upload html5lib to PyPi"
For the sake of having something to prod James with.

[2013-04-13 21:12] gsnedders opened #22 "Update readme"
This still refers to all the Google Code stuff.

[2013-04-16 00:06] gsnedders opened #23 "Fix parse.py under Py3"

[2013-04-16 14:08] gsnedders opened #24 "Move tokens to being objects"
Using hashtables for tokens makes no sense; we should move to objects and then have the type implicit.

[2013-04-19 10:35] gsnedders opened #25 "Implement main"
This is nowadays in HTML and a two-line fix.

[2013-04-27 13:09] gsnedders opened #27 "Add option to strip tags from sanitizer"
To quote @rubys from http://code.google.com/p/html5lib/issues/detail?id=62:

With #26 this has become possible, but a nicer API would be better.

[2013-04-27 19:44] #19 closed, assigned to nobody

[2013-04-28 08:51] #1 closed, assigned to gsnedders

[2013-04-28 10:21] #5 closed, assigned to gsnedders

[2013-04-28 10:21] #22 closed, assigned to gsnedders

[2013-04-28 16:29] #23 closed, assigned to nobody

[2013-05-01 21:56] #4 closed, assigned to nobody

[2013-05-01 21:57] #25 closed, assigned to nobody

[2013-05-01 22:36] gsnedders opened #33 "lxml fails with null byte in attribute value"
[From Google Code 186](http://code.google.com/p/html5lib/issues/detail?id=186):

[code]

[2013-05-04 12:06] gsnedders opened #37 "Preserve order of attributes on serialization"
From [Google Code #153](http://code.google.com/p/html5lib/issues/detail?id=153):

[2013-05-04 12:48] gsnedders opened #39 "Support charade"
This is effectively a six-based Py2/3 version of chardet. Would allow us for testing purposes to stop being evil under Python 3 and using the Debian package.

[2013-05-04 21:21] #9 closed, assigned to ambv

[2013-05-04 22:26] #33 closed, assigned to gsnedders

[2013-05-04 22:32] #39 closed, assigned to nobody

[2013-05-05 22:49] #16 closed, assigned to nobody

[2013-05-08 00:50] ambv opened #50 "Support HTML Templates"
As specified in: http://www.w3.org/TR/html-templates/

Implementation already present in the Firefox nightlies, probably in Chrome too. This means the spec will be ported to HTML proper shortly.

[2013-05-16 10:48] #37 closed, assigned to gsnedders

[2013-05-17 20:45] #21 closed, assigned to jgraham

[2013-05-21 00:23] wraithan opened #54 "Upload 0.90 to pypi"
You released this previous version and externally hosted it. With recent changes (for very good reasons) externals like yours (without a hash and such) don't work anymore. Since there isn't really a change log between 0.90 and 0.95, could you please upload 0.90 so until we have time to upgrade we can keep using what works for us?

[2013-05-21 07:52] #54 closed, assigned to nobody

[2013-05-29 14:22] gsnedders opened #56 "Update to current parser spec"
http://html5.org/r/7871

[2013-06-11 16:35] gsnedders opened #57 "Flake compliance not forced on master"
In dede1f2a38652f76ddb18bb18d8ab06d31050920 @ambv changed how flake was run such that the script that Travis now runs can return zero when one or more of the flake commands returns non-zero.

[2013-06-11 17:15] gsnedders opened #59 "Foreign content attributes do not serialize properly"
[code]

We should get `u'<math><mi xml:href=foo xml:lang=en></mi></math>'` or similar back.

[2013-06-11 17:30] gsnedders opened #60 "Over-eager omission of body tag"
`<body><title>X</title>` gets serialized as `<title>X</title>` with omit_optional_tags=True despite it being semantically important. Similar bug with `<body><meta>`.

[2013-06-12 14:07] tjerkw opened #61 "AttributeError when using html5lib"
Hi I havea  unit test to ensure my end pages are html5valid.
The test has a function which fails the test if its not valid.

[code]

The test runs fine on my mac and also fine on the machine of another developer. However on our jenkins node I'm getting an AttributeError.

I'm trying to find what it is, the strange thing is, when i run  "import html5lib" from the python interpreter I don't get any

[2013-06-16 18:15] GPHemsley opened #62 "AlphabeticizeAttributes filter should have a native API like inject_meta_charset"
&lt;gsnedders> (html5lib.serialize(my_document, alphabeticize_attributes=True) should work as an API basically)

[2013-06-16 18:18] marcdm opened #63 "Use of six.text type for comparison in treewalker._base"
all over the in the file html5lib/treewalkers/_base.py there are places where isinstance is used and the variable is compared to six.text_type instead of six.string_types

On Python 2, six.text_type = unicode, this means that if an attribute of value passed in is str, then there will be an assertion error.

on Python 2:
- six.string_types = (basestring,)
- six.text_type = unicode

on Python 3:
- s

[2013-06-16 22:20] #57 closed, assigned to gsnedders

[2013-06-17 20:40] niklasl opened #67 "Unicode literal in BufferedStream._readFromBuffer causes failure in HTMLBinaryInputStream"
In html5lib/inputstream.py, `unicode_literals` is imported from `__future__`. This causes `html5lib.inputstream.BufferedStream` to misbehave, specifically the `_readFromBuffer` method, which ends with `return "".join(rv)`. Due to this being a unicode literal, any read from after the first becomes a chunk of unicode instead of a chunk of bytes.

An example of the problem caused:

[code]

Causing:

[2013-06-21 16:37] gsnedders opened #68 "Sanitizer and lxml tree walker: TypeError: unhashable type"
http://code.google.com/p/html5lib/issues/detail?id=210

Reported by r.kintzi, Aug 14, 2012

[2013-06-21 16:41] gsnedders opened #69 "CSS Sanitizer "gauntlet" filters style tags like font-family:"sans-serif""
http://code.google.com/p/html5lib/issues/detail?id=180

Reported by bjellema20, Mar 8, 2011

[2013-06-21 16:43] gsnedders opened #70 "XXX-undefined-error generated while recovering from a mismatched tag error"
http://code.google.com/p/html5lib/issues/detail?id=176

Reported by eric.promislow, Feb 23, 2011

[2013-06-21 16:46] gsnedders opened #71 "Mismatched end-tag results in an adoption-agency-1.1 error"
http://code.google.com/p/html5lib/issues/detail?id=174

Reported by eric.promislow, Feb 23, 2011

[2013-06-21 16:49] gsnedders opened #72 "Sanitizing filter broken in 0.90"
http://code.google.com/p/html5lib/issues/detail?id=162

Reported by gdr@garethrees.org, Oct 10, 2010

[2013-06-21 16:50] #68 closed, assigned to nobody

[2013-06-21 17:00] gsnedders opened #73 "xml:lang not handled"
http://code.google.com/p/html5lib/issues/detail?id=154

Reported by @fantasai, Jun 1, 2010

[2013-06-21 17:04] gsnedders opened #74 "getElementById doesn't work with minidom"
http://code.google.com/p/html5lib/issues/detail?id=79

Reported by nils.winter, Sep 1, 2008

[2013-06-21 17:10] gsnedders opened #75 "thin and thick not in CSS whitelist"
http://code.google.com/p/html5lib/issues/detail?id=52

Reported by scott@quadhome.com, Aug 9, 2007

Aug 9, 2007 scott@quadhome.com

(Patch dropped because it'll be as much effort to deal with changed paths and everything as to just rewrite it.)

[2013-06-21 17:14] gsnedders opened #76 "gettext warnings in `python/filters/lint.py"
http://code.google.com/p/html5lib/issues/detail?id=166

Reported by mkwst@google.com, Dec 21, 2010

[2013-06-21 17:35] gsnedders opened #78 "Drop RecursiveTreeWalker"
Nothing has used this for years, and it was inevitably the source of issues historically (exhausting stack, etc.).

[2013-06-21 17:36] gsnedders opened #79 "Treebuilder test serializers are recursive"
They are therefore liable to run out of stack. They shouldn't.

[2013-06-23 19:07] #76 closed, assigned to nobody

[2013-06-23 19:11] #62 closed, assigned to nobody

[2013-06-26 18:19] #6 closed, assigned to gsnedders

[2013-06-26 20:19] gsnedders opened #81 "U+000D must be encoded as entity"
U+000D is converted to U+000A in the pre-tokenizer, so it must be serialized as a character reference.

[2013-06-26 23:50] gsnedders opened #83 "Drop pxdom"
We haven't supported or tested it in forever; it should go.

[2013-06-26 23:57] #63 closed, assigned to nobody

[2013-06-27 23:55] gsnedders opened #85 "Localizable error messages"
Currently almost all our error messages are passed through gettext. Do we actually want localizable error messages? To me, at least, this seems an anti-feature.

cc/ @ambv and @jgraham

[2013-07-03 20:52] gsnedders opened #86 "Preserve order of attributes on parsing"
This is an extension of #37 (see the final comments there); big blocker is needing something to test it with.

[2013-07-06 03:55] Naddiseo opened #87 "Add line/column number in tokens from HTMLTokenizer"
Would it be possible to add line and column tracking to the tokens returned from HTMLTokenizer?

[2013-07-09 11:50] #67 closed, assigned to nobody

[2013-07-09 12:06] gsnedders opened #88 "parse.py doesn't output anything even without --no-html"
Currently, even if you don't pass `--no-html`, you get no output.

[2013-07-09 12:07] gsnedders opened #89 "parse.py XML serialization doesn't work"
It relies on SimpleTree.

[2013-07-09 12:09] gsnedders opened #90 "PEP8 gives errors now"
This is due to PEP8 changing behaviour, no change here.

[2013-07-09 13:56] #90 closed, assigned to gsnedders

[2013-07-19 08:33] 1619digital opened #92 "Charset in meta content does not correctly parse for trailing semi-colon"
Reference: http://www.w3.org/html/wg/drafts/html/master/infrastructure.html#algorithm-for-extracting-a-character-encoding-from-a-meta-element

Because the ContentAttrParser is looking only for a space character to terminate an unquoted charset

&lt;meta http-equiv="Content-Type" content="charset=iso8859-2;text/html"&gt;

will incorrectly be inferred to have the charset 'iso8859-2;text/html'. The f

[2013-07-20 16:13] #78 closed, assigned to nobody

[2013-07-22 10:17] SimonSapin opened #96 "lxml doesn’t like control characters"
Same issue as #33, but with other non-whitespace C0 control characters: U+0001 to U+0008, U+000B, U+000C, U+000E to U+001F.

Each of these trigger the exception below:

[code]

[code]

U+000C in text (but not in attribute values) is replaced by U+0020 with a warning:

[code]

libxml2’s HTML parser replaces them with nothing, which I slightly prefer. Anyway, this is probably what should happen for

[2013-07-22 10:47] SimonSapin opened #97 "Add element.sourceline (lxml)"
Elements in lxml have a [`sourceline` attribute](http://lxml.de/api/lxml.etree._Element-class.html#sourceline), but it is always `None` in trees parsed with html5lib.

html5lib also appears to [keep track of source line numbers for error messages](https://github.com/html5lib/html5lib-python/blob/da9459fd2fb172c8725f27fa75acca7a601de368/html5lib/html5parser.py#L246).

I’d like to connect the two so

[2013-07-24 11:52] 1619digital opened #99 "Tokenizer creates Doctype with empty string name; possibly should be null; breaks tests."
When the tokenizer matches a doctype token, it creates a current token with a name "" (empty string) - the publicId, systemId are set to None. This happens in method markupDeclarationOpenState.

I'm not sure there's any reason for this, but it breaks all the tests, which expect a nameless Doctype to have a null name.

Most, but not all, of the relevant tests are in file test3.test in the tokenizer

[2013-07-29 11:47] PartyArk opened #100 "inBodyPhase incorrectly duplicating tag names => method dispatch"
In the parser, the startTagHandler is sending "noframes" to startTagProcessInHead, but also it's listed under startTagRawtext.

Similarly the endTagHandler in the inBody phase incorrectly lists "dl" as one of the endTagListItem triggers; it's already being consumed by endTagBlock.

Since in both cases it's the first method that's correctly picked up, so doesn't actually have any result, but should

[2013-07-30 10:07] tahajahangir opened #102 "`lxml` trees parsed by `html5lib` can not be used with `lxml.clean`"
This simple script fails with html5lib.

[code]

The problem is `lxml.html.document_fromstring` return an element with type `lxml.html.HtmlElement`, but `HTMLParser.parse` returns with type `lxml.etree._ElementTree`

[2013-07-31 17:43] #102 closed, assigned to nobody

[2013-08-05 13:31] 1619digital opened #103 "Parser possibly incorrectly reporting "unknown doctype""
I'm not sure this bit of code is doing what is expected (apart from the logic being a bit tortuous to read!):

[code]

This results in 'true' for doctypes with a valid public and system. I think what is intended may be:

[code]

Thanks.

[2013-08-07 19:03] ghost opened #104 "<noscript> tags are transformed into html-encoded text via parseRCDataRawtext"
Lines 902 and 700 of html5parser.py specify noscript tags should transform into html-encoded text, breaking the output. Judging from the comments it looks intentional—would it be possible to remove this behavior? The noscript tag (AFAIK) is valid in all locations.

http://www.w3.org/html/wg/drafts/html/master/scripting-1.html#the-noscript-element

Feel free to close this issue if you don't want to

[2013-08-07 19:19] #104 closed, assigned to nobody

[2013-08-13 23:32] gsnedders opened #105 "Implement a treewalker-to-treebuilder function"
This should really be quite simple to do, and would be fairly useful, especially for Gumbo. See also https://github.com/google/gumbo-parser/issues/6.

[2013-08-16 20:45] tabatkins opened #107 "Make error messages more useful"
For example, when setting an element's id to a value that isn't XML-compatible, ihatexml.py:262 throws a "Coercing non-XML name" warning, but doesn't tell you what is being coerced.

At least being told what the values are that are causing the error would be nice.

[2013-08-27 13:06] #83 closed, assigned to gsnedders

[2013-09-05 07:47] yminamide opened #111 "li in foster parent case incorrectly handled"
The result of parsing by html5lib for the following fragment is not compatible with the specification.

&lt;table>&lt;li>&lt;li>&lt;/li>&lt;/table>

It is parsed into the following DOM tree.

<pre>
&lt;li>
&lt;table>
   &lt;li>
</pre>

It should be parse as the following DOM tree.

<pre>
&lt;li>
&lt;li>
&lt;table>
</pre>

[2013-09-10 17:46] gsnedders opened #112 "parse.py still uses simpletree"
./parse.py:                      dest="treebuilder", default="simpleTree")

Need to change default treebuilder in parse.py. This obviously doesn't work.

[2013-09-11 17:21] #88 closed, assigned to gsnedders

[2013-09-17 22:25] ericpromislow opened #114 "html5lib-python emits error about 'trailing solidus' on img tag"
This should be a warning, not an error, for empty elements.

From html5.dtd:

<!ELEMENT img EMPTY>

From http://www.w3.org/html/wg/drafts/html/master/syntax.html#self-closing-start-tag-state:

">" (U+003E)
    Set the self-closing flag of the current tag token. Switch to the data state. Emit the current tag token.

Anything else gives a parse error.

[2013-09-19 22:54] #12 closed, assigned to gsnedders

[2013-09-24 13:06] aleray opened #115 "AttributeError: 'unicode' object has no attribute 'tag'"
Hi,

I'm facing an issue with this code: "AttributeError: 'unicode' object has no attribute 'tag'"

[code]

I think the error lies in the `isstring` method of `FragmentWrapper` class in treewalker/lxmletree.py

Changing:

[code]

to

[code]

seems to do the job... What do you think?

[2013-10-09 01:49] aleray opened #117 "All strings must be XML compatible: Unicode or ASCII, no NULL bytes or control characters"
Hi,

I had this error today. I actually introduced the illegal character and fixed the problem at the input level. I'm just wondering if it should be handled by the lib though...

[code]

[2013-10-24 17:14] #117 closed, assigned to nobody

[2013-11-02 12:17] kovidgoyal opened #119 "Various html5lib improvements"
This is just a FYI, I have been working on a modified version of html5lib that achieves the following goals:

1) Preserves attribute order
2) Optionally includes line and column number information when parsing
3) Handles XML namespaces correctly, so that if you happen to parse an XHTML document with html5lib you dont lose all the namespace information
4) Create a new treebuilder for lxml
5) Variou

[2013-11-02 13:27] #115 closed, assigned to nobody

[2013-11-30 19:39] gsnedders opened #120 "Fix API for providing encoding of stream"
We should likely change the API for providing the encoding of a stream, given the spec variously uses:
 * user-provided encoding,
 * transport-layer encoding,
 * parent origin encoding,
 * locale-dependent default encoding.

We should probably provide an API to provide all of these, so that the encoding detection operates correctly.

[2013-11-30 22:08] SimonSapin opened #121 "Expose the encoding of a document"
Based on various information provided by the API’s user (see #120) and in the input stream (BOM, `<meta charset>`), the parser decides which character encoding to use.

The used encoding for a parsed document should be exposed somehow. It is needed eg. as a fallback encoding for scripts and stylesheets referred to by the document.

[2013-11-30 22:29] SimonSapin opened #122 "Warn on missing testdata submodule"
Steps to reproduce:

[code]

The tests fail with error messages like:
[code]

The reason is that `git clone` does not clone/checkout submodules by default. The fix is to run `git submodule update --init`.

When finding `html5lib/tests/testdata` empty, the test harness should print an appropriate warning with instructions.

[2013-12-02 14:54] SimonSapin opened #124 "Encoding Standard"
html5lib has a bunch of [aliases for character encodings](https://github.com/html5lib/html5lib-python/blob/e269a2fd0aafcd83af7cf1e65bba65c0e5a2c18b/html5lib/constants.py#L2851). This should probably be aligned with the [Encoding Standard](http://encoding.spec.whatwg.org/).

I made a Python implementation, hopefully it will help: http://pythonhosted.org/webencodings/ (It mostly does aliases and BOM

[2013-12-04 22:58] kenrussell opened #125 "Please add per-file licenses"
The Chromium project (www.chromium.org) pulls in html5lib indirectly through the WebGL source repository (github.com/KhronosGroup/WebGL). In order for Chromium to be pulled in to various Linux source distributions there's a requirement that all of the third party files pass the Linux licensecheck utility. Currently there are many files in the html5lib repository missing per-file licenses. From a c

[2013-12-17 14:42] SimonSapin opened #127 "http.client.HTTPResponse is not playing nice (Python 3.x)"
This gives the empty string on Python 3.x

[code]

The cause is a bug in Python: http://bugs.python.org/issue20007 , bug given CPython’s release cycle timeline I would like to have a work-around in html5lib.

The bug is triggered here:
https://github.com/html5lib/html5lib-python/blob/e269a2fd0aafcd83af7cf1e65bba65c0e5a2c18b/html5lib/inputstream.py#L122

Unfortunately, the only work-around I can th

[2013-12-22 23:11] #127 closed, assigned to nobody

[2013-12-23 11:58] vbmade2000 opened #131 "html5lib can't scan a recipe data"
html5lib is not able to retrieve recipe microdata from below url.
http://www.bbcgoodfood.com/recipes/roast-chicken-roots-lemon-poppy-seed-sauce
Someone please help in resolving the issue.

[2013-12-23 14:51] gsnedders opened #132 "Add test for #115"
Not sure why #115 has no test, but it appears not to.

[code]

That should work, but we probably want to test with all tree walkers.

[2014-01-05 12:10] igloox opened #138 "Add 'tel:' to sanitizer acceptable protocols?"
Most (if not all) mobile browsers can hyperlink telephone numbers, like so:

`<a href="tel:+44123456789">0123456789</a>``

When tapped / clicked, these numbers will open in the phone's dialler. Any objections to adding 'tel' to the list of acceptable_protocols in sanitizer.py?

[2014-01-05 12:51] #121 closed, assigned to nobody

[2014-01-24 01:32] baldwint opened #140 "HTMLInputStream coerces newlines to '\n' only"
The pre-tokenizer, HTMLInputStream, replaces '\r\n' and '\r' with '\n' line endings on [line 274](https://github.com/html5lib/html5lib-python/blob/master/html5lib/inputstream.py#L274). This is undesirable in raw data states of the parser (e.g., in a textarea) where I don't want any modification of the contents.

Would it be reasonable to deal with these characters in HTMLTokenizer instead, so that

[2014-01-24 12:34] #140 closed, assigned to nobody

[2014-02-19 03:53] hongquan opened #141 "ImportError: moduleFactoryFactory"
I use `html5lib` 1.0b3 for `xhtml2pdf`.
Sometimes my application (which generates PDF files) is broken because of an error which occurs inside `html5lib`. The error is

[code]

[2014-02-22 20:24] cdent opened #143 "HTMLSanitizer strips data-* attributes"
Since the whitelist process is list-of-strings oriented, it will reject custom `data-*` attributes that are being used.

The hack to change it is described here:

https://github.com/rubys/venus/pull/19/files#diff-dcd60d82836175427dfbdf792aa976ecL172

I'm fairly certain that `data-*` is "safe" so it seems like there should be some way to keep it.

BTW: I looked and looked to see if this issue was a

[2014-04-07 22:54] gsnedders opened #146 "pep8 1.5.4 fails on html5lib"
[code]

[2014-04-09 19:15] #146 closed, assigned to gsnedders

[2014-05-19 00:16] gsnedders opened #152 "Replace the CSS sanitizer with something that parses CSS"
Currently the sanitizer uses horrible regexp which I have no reason to believe correct whatsoever to parse CSS. We should move to a CSS parser, like https://github.com/SimonSapin/tinycss/.

[2014-05-19 00:19] gsnedders opened #153 "Sanitizer fails to treat some attributes as URLs"
`background`, `datasrc`, `dynsrc`, `lowsrc`, `ping`, and `poster` are included in `allowed_attributes` and omitted from `attr_val_is_uri`. On the upside, no browser appears to run scripts in these attributes, so while it is a potential XSS hole in the sanitizer gives some unknown browser, it isn't in any known browser.

[2014-05-23 20:50] gareth-rees opened #159 "Python Package Index description contains typo"
The description of html5lib at the [Python Package Index](https://pypi.python.org/pypi/html5lib) is

I suggest that *specifcation* be changed to *specification*.

[2014-05-30 11:16] dstufft opened #161 "Confusing versioning"
It looks like 0.99 on PyPI is == 1.0b3? However there is also a 0.999 on PyPI which doesn't appear to be equal to anything?

[2014-06-14 18:08] #161 closed, assigned to nobody

[2014-09-18 05:29] stonebig opened #165 "Wheel packaging format for pypi.org"
Would it be possible to get a .whl universal package on Pypi for your package ?

If I'm right, it's just a matter of adding a setup.cfg file at root level with
[code]
and then doing this to upload to pypi
[code]

[2014-09-19 01:54] yurikhan opened #166 "Warn about conformance requirement violations"
I tried using html5lib for HTML validation, to make sure that my users author valid, well-defined HTML. To that end, I parsed the input HTML with html5lib and used the `HTMLParser.errors` property to flag errors. Ideally, I would like to flag all violations listed in [HTML5 §1.10 Conformance requirements for authors](http://www.w3.org/TR/html5/introduction.html#conformance-requirements-for-authors

[2014-09-28 15:47] yurikhan opened #167 "Warn about invalid byte sequences"
[HTML 5 Proposed Recommendation §8.2.2 The input byte stream](http://www.w3.org/TR/html5/syntax.html#the-input-byte-stream), [HTML 5.1 Draft §8.2.2 The input byte stream](http://www.w3.org/html/wg/drafts/html/master/syntax.html#the-input-byte-stream):

Test case:

[code]

Expected behavior: `parser.errors` is not empty

Observed behavior: `parser.errors` is empty; `doc` contains a tree which conta

[2014-10-14 18:08] #166 closed, assigned to nobody

[2014-10-15 00:28] yurikhan opened #169 "Pass source line:offset info to treebuilders"
After attempting to implement content model validation (#166), I am convinced it is best implemented as a postprocessing step on the tree already built (because of all the context-sensitive content model rules).

In order to be able to report violations usefully, this needs source line:offset information in the tree, for at least one treebuilder.

The changes needed to propagate relevant data from

[2014-10-20 10:44] EugeniuZ opened #170 "Html markup not parsed correctly with html5lib parser"
The following HTML markup is parsed incorrectly:
`<div itemscope='True'><p>My name is <span itemprop="name" content="Elizabeth"/>.</p></div>`

After parsing it becomes:

`<div itemscope="True"><p>My name is <span content="Elizabeth" itemprop="name">.</span></p></div>`

(The dot is included as text in `<span>` instead of text in `<p>`).

[2014-10-20 14:46] #170 closed, assigned to nobody

[2014-10-27 05:08] bendavis78 opened #173 ""span" tag missing from constants"
the constants file defines valid html tags, however it does not contain the "span" tag.

[2014-11-14 22:22] #173 closed, assigned to nobody

[2014-11-24 02:35] #131 closed, assigned to nobody

[2014-11-24 02:38] #141 closed, assigned to nobody

[2014-11-24 02:45] #103 closed, assigned to nobody

[2014-12-12 07:32] msabramo opened #178 "Test failures"
[code]

[Travis CI](https://travis-ci.org/html5lib/html5lib-python) has been broken since [build #245](https://travis-ci.org/html5lib/html5lib-python/builds/32874341) (commit https://github.com/html5lib/html5lib-python/commit/e8e0046b2c3109baed579919d9f6f0b036ae34a7)

[2015-01-11 15:00] gsnedders opened #179 "Update documentation and requirements*.txt after 2.6 ordereddict change"
As I commented in #177, the changelog (adding a dependency is a pretty major change!), readme (because it's now wrong!), and requirements*.txt files (because they don't require ordereddict on 2.6!) all need updating.

[2015-01-26 21:45] nicholasserra opened #180 "HTMLSanitizer: href attr ampersands incorrectly sanitized"
Hello. Not sure if my implementation is incorrect or if I found a bug, but i've noticed that ampersands within anchor `href` attributes are being converted to `&amp;`, their html special characters equivalent.

Here is how i'm sanitizing:

[code]

Input: `<p><a class="linked-url" target="_blank" href="https://sprint.ly/?one=1&two=2">https://sprint.ly/?one=1&two=2</a></p>`

Output: `<p><a class="li

[2015-01-26 23:33] nicholasserra commented on #180
Got some more info via IRC that this isn't really an issue since the browser will parse the html special characters correctly, but it still seems odd that any URL attrs are sanitized.

[2015-01-26 23:38] nicholasserra commented on #180
Closing as this is probably a wontfix. Still curious about opinions from the authors if anyone wants to chime in.

[2015-01-26 23:38] #180 closed

[2015-01-27 10:48] gsnedders commented on #180
"Ambiguous ampersands" as the spec calls them are a bit annoying, as it means that new entities being introduced an change the semantics of existing code. It doesn't really hurt to go for the unambiguous option of escaping the ampersand.

[2015-02-26 09:36] willharris commented on #178
Curious about this, and what the policy is about having the tests failing for months and months (6 months now). Why is this not being addressed, why is your own pull request still open months later?

[2015-02-26 22:51] gsnedders commented on #178
Why is it not being addressed? Time. All of us only have so many hours in a day, and with all of us doing stuff in our spare time, sometimes fall to the way-side.

Ultimately, all the tests that are failing are because of spec changes that the testsuite has been updated to match but html5lib-python hasn't been. If it were down to me alone, I wouldn't have updated the submodule reference (and as su

[2015-04-06 00:27] gsnedders opened #182 "Move to py.test and take advantage of it"
We want to move to py.test so that:
- we can select to only run parser tests with one tree builder (and tree walker tests with only one tree walker, etc.)
- we can make use of the plugin API to create a means of dumping test failures and build support for expected failures into the testsuites from html5lib-tests
- it is easier to create nicer error messages
- better support for skipped and expecte

[2015-04-14 21:20] fred-wang opened #183 "Missing MathML elements and attributes"
html5lib/sanitizer.py misses some MathML elements and attributes. In particular the semantics/annotation/annotation-xml elements required to fix a very old planet bug (http://www.maths-informatique-jeux.com/blog/frederic/?post/2013/01/22/Analysis-of-Lithium-s-algorithm#c142).

See https://github.com/html5lib/html5lib-python/pull/181

[2015-04-26 01:42] #178 closed

[2015-04-26 04:17] #85 closed

[2015-04-26 04:17] #100 closed

[2015-04-26 09:49] #159 closed

[2015-04-29 00:05] gsnedders commented on #2
AND WE'RE DONE. AT LAST. Thanks to @jimbaker and @nonameentername, with #150, #168, and #185, we're finally here. Hopefully soon once pip picks up everything and virtualenv is running on Jython we can add Jython to tox and make it less likely for us to regress this.

[2015-04-29 00:05] #2 closed

[2015-04-29 00:15] gsnedders opened #187 "Only store version in one place in the tree"
So I don't forget to bump them in multiple places for a release.

[2015-04-29 00:57] gsnedders commented on #112
e3bedc5d6963b4fcd46a3c5063c310eeaa3c91ac

[2015-04-29 00:57] #112 closed

[2015-04-29 17:26] #153 closed

[2015-04-29 22:55] gsnedders commented on #179
I'm also unconvinced this is any more "required" than lxml, etc. None of the "core" APIs break without it installed.

[2015-04-29 23:06] gsnedders commented on #161
FWIW, 0.9999 and 1.0b5 are tagged, differing only in version number. (Skipping 1.0b4, given that was effectively 0.999.) Soon to be on PyPI.

[2015-04-29 23:22] dstufft commented on #161
Awesome. I'm sure the jython folks will appreciate that.

[2015-04-30 05:34] papachoco opened #188 "AttributeError raised on invalid data URI in sanitizer"
While trying to sanitize `u'<html><body><audio controls="" src="data:foobar"></audio></body></html>'`

I get an AttributeError exception In HTMLSanitizerMixin line 218

[code]

Line 215 returns None , but in line 218 m is assumed to be None

Carlos

[2015-04-30 15:31] #188 closed

[2015-04-30 20:02] gsnedders commented on #188
0.99999 now shipped with that running through the sanitizer without it dying now.

[2015-04-30 20:03] papachoco commented on #188
Thanks a lot

On Thu, Apr 30, 2015 at 3:02 PM, Geoffrey Sneddon <notifications@github.com>
wrote:

[2015-05-01 21:40] gsnedders commented on #182
I've, uh, been totally over-engineering this. Something along the lines of <https://github.com/dmerejkowsky/pytest-runfailed/blob/master/pytest_runfailed.py> would work fine.

[2015-05-02 09:14] yakky opened #189 "Relative URLs not allowed by sanitizer after 0.999"
This snippet works in 0.999 but not in 0.9999

from html5lib import HTMLParser, sanitizer, serializer, treebuilders, treewalkers

    from html5lib import HTMLParser, sanitizer, serializer, treebuilders, treewalkers

    opts = {}
    opts['tokenizer'] = sanitizer.HTMLSanitizer
    parser = html5lib.HTMLParser(tree=treebuilders.getTreeBuilder("dom"), **opts)

    data = u'Hello World<img src="/sta

[2015-05-04 18:08] kurtmckee commented on #72
Howdy! I'm working to migrate the HTML sanitizer in [feedparser](https://github.com/kurtmckee/feedparser/) to rely on html5lib. However, some of the feedparser unit tests are triggering the TypeError bug referenced in #68. If @gsnedders has written viable code to resolve this, would it be possible to coordinate feedparser's migration with the integration of the fix for this?

[2015-05-05 07:34] gsnedders commented on #72
@kurtmckee the fix for that is for currently to use the sanitizer as a filter when tokenizing and not what serializing.

[2015-05-07 10:18] gsnedders commented on #89
e3bedc5d6963b4fcd46a3c5063c310eeaa3c91ac fixed this.

[2015-05-07 10:18] #89 closed

[2015-05-09 14:14] mattheww opened #190 "Assertion failures in Python 2 from the etree treewalker"
Assertion failures in Python 2 from the etree treewalker.

If I create an element directly using cElementTree and try to serialise the result using html5lib, I get assertion failures in Python 2 unless I go to special lengths to make sure cElementTree sees unicode strings everywhere.

[code]

The render() call fails with:

AssertionError: <type 'str'>
html5lib/treewalkers/etree.py:61 (getNodeDetai

[2015-05-29 13:45] dantti opened #191 "Tokenizer not unconsuming X in in hex mode"
Hi,

I'm implementing the WHATWG spec with C++/Qt and using your implementation as a reference is quite useful.
But I think I just found an error,
in tokenizer.py line 172 there is:
self.stream.unget(charStack.pop())
sorry if my Python knowledge is mistaken but here
you only pop one char from the stack but in a '#Xabc' case
where the X stands for hexadecimals you sould
pop that too as the docs say

[2015-05-29 13:46] dantti commented on #191
No actually you are unconsuming the X, but not the # number sign in that case...

[2015-05-29 16:44] gsnedders commented on #191
So what we're interested in is `&#Xy` and `&#xy`? I imagine we're doing something black-box equivalent, because I'm pretty sure this works correctly.

[2015-05-29 22:36] dantti commented on #191
I'm just saying that the docs says you should unconsume 1 or 2 chars depending if an X or x was found,
I think this would fix it (or at least follow what the specs  says):
if (hex):
    self.stream.unget(charStack.pop())
self.stream.unget(charStack.pop())

[2015-05-30 13:55] gsnedders commented on #191
That won't work, because we only support a single character to be unconsumed. We appear to have the right behaviour, though, as I suspected.

[2015-05-30 13:55] #191 closed

[2015-05-30 13:59] gsnedders commented on #191
See the `output = "&" + "".join(charStack)` on line 173, and line 216–223. Because none of the characters on the stack are characters that will change the tokeniser state, we directly append them instead of unconsuming them and reconsuming them, which is black-box equivalent. The validator.nu parser (and as a result the programmatic conversion of that which Gecko uses) doesn't have *any* unconsume

[2015-05-30 16:29] stefanfoulis commented on #189
in case html5lib causes more problems, we've had good experiences with https://pypi.python.org/pypi/bleach/ .

[2015-05-30 17:17] gsnedders commented on #189
Bleach just uses html5lib, FWIW. This should get fixed soonish (and a release should follow), but I'm in the middle of doing stuff like moving flat, so it's all a bit hectic here. It'll just be caused by the data URI changes, if anyone wants to write a PR for this.

[2015-06-09 13:05] Aeyoun opened #192 "Remove non-significant whitespace in srcset attribute"
`strip_whitespace=True` should remove the extra whitespace in the below example:

    <img srcset="demo-400.jpg 400w,
                 demo-800.jpg 800w">

[2015-06-09 15:09] gsnedders commented on #192
Currently, AFAIK, it only strips whitespace between tags, not in attributes. Plenty of other places whitespace can be stripped in attributes, too.

[2015-06-09 20:42] Aeyoun commented on #192
In a few attributes whitespace is significant. For example line breaks in `title` attributes. I don’t know of any others, actually, but there are wiser men than me about. `srcset` has a especially tricky format that encourage lots of line breaks and spaces between all the candidates. It’s the only troublesome attribute I’ve run into myself.

[2015-06-11 10:57] gsnedders commented on #192
There aren't overly many formats for attributes in general, so it's not too troublesome.

[2015-06-11 14:17] dsimandl opened #193 "Allow HTML5 required attribute"
It seems that HTML5lib is stripping out the required attribute when I try to write HTML5 in Django-CMS.  I assume this is because of security concerns inside the html5lib library?  The required attribute removes the need for JS validation and I consider it an important attribute in the HTML5 spec.  I would be willing to look into what needs to change inside html5lib-python itself if necessary.

[2015-06-19 19:58] jvanasco opened #194 "support `itemscope` as a boolean attribute"
`itemscope` should be supported as a boolean attribute.

for reference, `schema.org` has been pushing it as such (https://schema.org/docs/gs.html#microdata_itemscope_itemtype)

running something through the Tokenizer/Sanitizer will set it to an empty attribute

   input:  `<article itemscope>`
   output:  `<article itemscope="">`

it looks like this can be handled by editing constants.py and doing

[2015-06-19 23:05] gsnedders commented on #194
Should probably just check the current list of boolean attributes in the spec, really. We're probably missing others too.

[2015-07-06 22:22] #187 closed

[2015-07-07 01:38] #189 closed

[2015-07-07 01:47] #190 closed

[2015-07-08 20:39] papachoco opened #195 "ValueError: Invalid IPv6 URL in sanitize_token"
I get an exception at

html5lib-0.999999-py2.7.egg/html5lib/sanitizer.py", line 210, in allowed_token

uri = urlparse.urlparse(val_unescaped)

when I passed the following malformed expression

`exp = u'<html><a href=\'http://tag:nextthought.com,2011-10:julie.zhu-OID-0x148a37:55736572735f315f54657374:hjJe3dfZMVb,"body":["5:::{\\"args\\\'>foo</html>'`

I guess if it's a malformed url we should ignor

[2015-07-08 22:29] gsnedders commented on #195
Le sigh. There's nothing about it throwing ever in the docs… The attribute should probably just be dropped, given we can't check it if we can't parse it.

[2015-07-15 10:08] JulienPalard opened #196 "Warning about "Coercing non-XML name" when name contains a column ":""
As: `nonXmlNameBMPRegexp` is defined by `re.compile('[\x00-,/:-@`... (note the column).

[In ihatexml.py, at line 260](https://github.com/html5lib/html5lib-python/blob/master/html5lib/ihatexml.py#L260):
[code]
if a char in a name is in `nonXmlNameBMPRegexp`, like `:`, a Warning is triggered, yet, as far as I searched, `:` is allowed for namespace purpose and by definition in the [XML 1.1 spec](htt

[2015-07-15 15:54] gsnedders commented on #196
Yes, you're not looking at the [Namespaces in XML](http://www.w3.org/TR/xml-names/) spec, which places far stricter rules on names with colons in them. Almost all XML implementations implement XML *with* Namespaces in XML, and hence one is bound by the stricter rules the latter places on colons.

Also, FWIW, XML 1.1 is mostly abandoned and only really of historical interest. XML 1.0 5th Edition mo

[2015-07-15 15:54] #196 closed

[2015-07-15 15:56] gsnedders commented on #196
(If that doesn't make sense to you, let me know and I'll try and explain better.)

[2015-07-15 16:12] JulienPalard commented on #196
Hum, I'm not an XML guy (i hate it too) but I'm trying to understand it right, from
[Extensible Markup Language (XML) 1.0 (Fifth Edition)](http://www.w3.org/TR/2008/REC-xml-20081126/) I read:

It seems explicit here that ":" is allowed.

I changed the warning to:

[code]

Just to have an idea of what's going wrong (in a real world, we better use a kind of `binascii.hexlify`, because if the name is

[2015-07-15 20:31] gsnedders commented on #196
Well, yes… Most don't, however. :) lxml gives: `XMLSyntaxError: Namespace prefix foo on bar is not defined, line 1, column 9`, for example.

HTML doesn't have any sort of namespace declaration — "xmlns:fb" is just another attribute to HTML; in XML that'd be a `fb` attribute in the `http://www.w3.org/2000/xmlns/` namespace, in HTML it's a "xmlns:fb" attribute in the void namespace. Because HTML doe

[2015-07-16 08:06] JulienPalard commented on #196
Just to disambiguate, are we parsing XML blindly at this stage or do we know we're parsing HTML ? Because if we're aware we're parsing HTML we should probably allow colon in names:

[HTML 5 2.9 Namespaces](http://www.w3.org/TR/2011/WD-html5-20110405/namespaces.html):

"the colon has no spacial meaning" at least mean "colon is allowed" ?

[2015-07-16 10:44] gsnedders commented on #196
We're parsing HTML into a data-structure designed to contain XML, and many of those data-structures (those for which ihatexml is used) require that element names, etc., are acceptable names in XML. What we do more-or-less follows [§ 12.2.7 Coercing an HTML DOM into an infoset](https://html.spec.whatwg.org/multipage/syntax.html#coercing-an-html-dom-into-an-infoset).

Basically, yes.

[2015-07-20 11:01] gsnedders commented on #165
It's not require that simple, given we have different dependencies per Python version. We need to have all the metadata in setup.py instead of in the docs.

[2015-07-20 18:12] stonebig commented on #165
Hi,

Ok, so let's wait Python 2.7 being deprecated.

[2015-07-20 21:32] danielknell opened #197 "HTMLSerializer and HTML entities"
[code]
at the moment the parsing and serialising a document causes entities to be converted into special characters, including things like #00 and there is no way to pass additional entities to xml.sax.saxutils.escape.

I looked into subclassing the serialiser but the escaping happens in the middle of the serialize() method at:

https://github.com/html5lib/html5lib-python/blob/master/html5lib/seri

[2015-07-20 21:53] gsnedders commented on #165
Oh, we can totally do this. I just need to remember to look up everything that's needed to make sure it works. :)

[2015-07-20 21:53] gsnedders commented on #197
What's your use-case for wanting them escaped?

[2015-07-20 21:54] gsnedders commented on #197
Basically, you might want to encode it as an ASCII string (which will obviously escape all non-ASCII characters), or is something like #38 more along the lines of what you want?

[2015-07-20 23:23] danielknell commented on #197
I am building a html document using etree Element instances,  and serialising with html5lib, special characters (especially things like  the non breaking space) will be non-obvious to anyone viewing the rendered source.

[2015-07-21 12:03] gsnedders commented on #197
Okay, that makes it sound like #38 is more or less what you want — readability of the source given "invisible" characters. Closing this as a dupe of that, then. (If you disagree, feel free to reopen this and comment.)

[2015-07-21 12:03] #197 closed

[2015-07-22 10:06] gsnedders opened #199 "Sort out the magic with phases and logging"
I'm not sure quite what we want to do — less dynamism, because we should only ever return one of two dicts (depending on the argument to `getPhases()`.

[2015-07-22 10:14] gsnedders opened #200 "Add types in stub files for Py3 and later, and mypy, etc."
We should add stub files of types, especially for the public API. We should also then start paying attention to mypy's static type checking.

[2015-08-05 23:55] Aeyoun opened #201 "escape_gt_in_attrs"
Why is there no `escape_gt_in_attrs` counterpart of `escape_lt_in_attrs`? Optimistic regex tag-soup readers do negative lookaheads for `>` to determine the closing point of a tag. They’re just as important to escape in atts as `<` for compatibility with everything.

[2015-08-06 00:10] gsnedders commented on #201
`escape_lt_in_attrs` is needed for some legacy browsers to parse the output correctly (old Gecko and WebKit) when they are unquoted, hence why it exists (and probably should cease to exist as a distinct option once #11 is fixed).

I'm not sure I really want to start adding hacks for regexp parsers given they're almost certainly going to be broken by some reasonable output. Is it anything particula

[2015-08-17 14:37] annevk opened #203 "Update void elements"
https://github.com/html5lib/html5lib-python/blob/master/html5lib/constants.py#L487 is no longer accurate. Seems to miss `keygen`, `wbr`, `menuitem`.

And seems to have `event-source` which is no longer a thing.

[2015-08-19 07:58] bradleyayers commented on #96
@SimonSapin these characters are not valid HTML, see https://en.wikipedia.org/wiki/Character_encodings_in_HTML#Illegal_characters

[2015-08-19 08:13] SimonSapin commented on #96
@bradleyayers To support that claim, Wikipedia links to a document named "SGML Declaration of HTML 4" and published in 1999. The relevant specification is https://whatwg.org/html. Also, what do you mean exactly by "valid"? Conformance requirements are different for authors and implementations.

[2015-08-19 08:41] bradleyayers commented on #96
By "valid" I mean "able to be represented in HTML". I'm saying it's not possible to represent U+0001 in HTML.

It can't be represented by numeric character references (see https://html.spec.whatwg.org/multipage/syntax.html#character-references):

Nor can they be represented by encoding them (see https://html.spec.whatwg.org/multipage/syntax.html#preprocessing-the-input-stream):

[2015-08-19 11:33] gsnedders commented on #96
For the reference for numeric character references, note the start of the section:

The actual parsing of a character reference (https://html.spec.whatwg.org/multipage/syntax.html#tokenizing-character-references) says:

Follow the cross-reference for parse error:

If you follow the error handling, note those characters are never replaced by anything else, and hence they end up in the DOM. The same

[2015-08-27 09:20] EmilStenstrom commented on #96
@gsnedders Do I understand this correctly that this is not a bug in html5lib (which just lets these characters through according to spec), but in lxml which does not expect those characters?

[2015-08-27 09:24] SimonSapin commented on #96
@EmilStenstrom I’d say that’s debatable. https://html.spec.whatwg.org/multipage/#coercing-an-html-dom-into-an-infoset describes how to map to a more restricted XML API. The problem is raising exceptions rather than doing this coercion.

[2015-08-27 10:44] EmilStenstrom commented on #96
@SimonSapin Doesn't the exception come from lxml rather than html5lib?

[2015-08-27 10:58] SimonSapin commented on #96
It does, but html5lib should munge the data to avoid trigerring this exception.

[2015-09-06 20:11] alex commented on #195
FWIW, here's a slightly more minified test case:

[code]

[2015-09-06 22:36] dstufft commented on #195
What's the best way of getting this sorted? We're hitting this error a good amount of the time on PyPI.

[2015-09-06 23:00] gsnedders commented on #195
Um. I'm sure I fixed this somewhere. Weird. As I said on IRC, you just want a try/catch around the parsing, and drop the attribute if urlparse can't parse it (i.e., assume it's bad). If you throw up a PR for that I'll merge it tomorrow and push a release. And add a test for it similar to `test_invalid_data_uri`.

[2015-09-07 23:37] #195 closed

[2015-09-07 23:39] alex commented on #195
yay, thanks!

[2015-09-09 23:12] gsnedders commented on #195
0.9999999 has now been released with this fixed. (And the identical 1.0b8, for historical reasons.)

[2015-09-23 05:50] cloud101 opened #206 "HTML5Lib: LookupError: unknown encoding: EUC-TW"
I'm getting an unhandled Exception; unknown encoding: EUC-TW. Below is the PoC.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/dist-packages/bs4/__init__.py", line 215, in __init__
    self._feed()
  File "/usr/local/lib/python2.7/dist-packages/bs4/__init__.py", line 239, in _feed
    self.builder.feed(self.markup)
  File "/usr/local/lib/

[2015-09-25 15:56] iherman opened #207 "Bug in the ElementTree append?"
Consider the following code:

[code]

Running the code as is leads to:

[code]

Running the code switching off the ``html5lib`` implementation in favor of XML parsing, ie,

[code]

works. This smells like a bug:-(

[2015-09-27 09:47] Ivoz commented on #179
@gsnedders it does manage to ranomly break stuff without notice: https://travis-ci.org/pypa/readme/jobs/80119096

[2015-09-29 09:44] gsnedders commented on #207
This isn't a bug. This is a result of the terrible inconsistency in the ElementTree API about whether an `Element` gets returned or an `ElementTree` after parsing. We return an `ElementTree`, which has a single root element and one cannot append to it. `etree.fromstring` returns an `Element` which is just a normal element (and `etree.parse` returns an `ElementTree`, to prove it isn't consistent).

[2015-09-29 09:44] #207 closed

[2015-10-01 21:57] gsnedders opened #208 "DOM bogusly ending up with adjacent text nodes given a character reference"
import html5lib
    string = u"<p>name&thinsp;: value</p>"
    dom = html5lib.parse(string, treebuilder="dom")
    print len(dom.getElementsByTagName("p")[0].childNodes)

This gives three, split around the `\u2009`. Per spec, we should have one child text node, I'm pretty sure. This only shows up here because etree/lxml can't have adjacent text nodes in their data model.

[2015-10-16 14:07] coreybrett commented on #10
I'm having an issue with this as well. Would be nice to have it fixed.

[2015-11-05 17:10] gsnedders opened #211 "Add a flag to preserve CR when serialising"
Currently, `&#xd;` doesn't round-trip (as it gets serialised as a U+000D character, which then gets converted by the input stream pre-processor to U+000A). For some applications (e.g., the csswg-test builder) this is desirable.

[2015-11-13 12:54] #165 closed

[2015-11-19 20:49] pzingg commented on #152
Also does not parse transform properties with multiple operations:

width: 386.00px; height: 289.50px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);

[2015-11-25 15:22] lsamper opened #215 "Default encoding has changed from "utf-8" to "windows-1252" between old and recent version"
When chardet and charade are not installed, detectEncoding method falls back to
html5lib.inputstream.HTMLInputStream.defaultEncoding
and this is set to "windows-1252" ("iso-8859-1").
line 429 in inputstream.py:
    self.defaultEncoding = "windows-1252"
https://github.com/html5lib/html5lib-python/blob/92ed92a0a3166bf022fa48ba46b1c66f4f223d4b/html5lib/inputstream.py#L429

Actually, this was not the

[2015-11-27 16:03] gsnedders commented on #215
The default encoding for HTML is never utf-8. That w3schools page is entirely wrong.

In principle the default encoding is locale dependant, with most locales using windows-1252. We just use windows-1252 rather than involving locale-dependant behaviour.

I'm unaware of html5lib having ever changed behaviour: looking quickly even in 2010 we had this behaviour.

[2015-11-27 16:03] #215 closed

[2015-12-03 02:59] gsnedders opened #217 "etree treewalker infinite loop"
This goes into an infinite loop:

[code]

[2015-12-03 03:09] gsnedders commented on #217
This is weird.

[code]

Note it's a fragment containing the same element twice.

[2015-12-03 03:09] gsnedders commented on #217
It's still strictly a tree, though, so I don't think the tree walker should break so badly?

[2015-12-03 03:34] gsnedders commented on #217
`list(parents[-1]).index(parent)` in the etree walker is why. The above commit adds an assertion that the count is 1, which at least prevents the infinite loop.

[2015-12-03 11:06] lsamper commented on #215
Ok, thank you for your reply.
Actually my html document is correct, but the information about encoding is not in the first 512 bytes but in the 1024 first ones.

The time to parse my document raises from 62ms to 430ms when chardet is invoked. Thus I will patch the lib in order to increase the number of bytes read to check for encoding declaration in metas:
html5lib.inputstream.HTMLBinaryInputStrea

[2015-12-12 03:00] gsnedders commented on #182
We've now landed the stuff most needed here. Yay!

[2016-01-12 21:40] #124 closed

[2016-01-15 08:41] jlec opened #224 "test failure with lxml-3.5.0"
I see the following test failure with lxml-3.5.0 (3.4.0 is fine) and html5lib-0.9999999

[code]

[2016-01-15 08:42] jlec commented on #224
Downstream report https://bugs.gentoo.org/show_bug.cgi?id=571644

[2016-01-15 09:11] adamailru commented on #224
see http://stackoverflow.com/questions/34595275/disable-comments-check-for-in-lxml/34632179#34632179 and https://github.com/lxml/lxml/pull/172#issuecomment-169084439 for more info ;)

[2016-01-15 10:41] jlec commented on #224
Any idea which commit in https://github.com/lxml/lxml fixed it?

[2016-01-15 19:55] gsnedders commented on #224
https://github.com/html5lib/html5lib-python/commit/0c551c9519e47f76f8f185089ed71cb9539b6e00 fixed this

[2016-01-15 19:55] #224 closed

[2016-01-15 19:56] gsnedders commented on #224
#214 it would appear to be.

[2016-01-17 05:35] neumond opened #225 "Wrong HTML comments cause ValueError in lxml"
I've got exception here https://github.com/lxml/lxml/blob/master/src/lxml/lxml.etree.pyx#L3017
lxml explicitly disallows bad comment tag contents, while html5lib handles them and passes over. While I don't really care about comment content, I can't proceed working with DOM due to exception even when I set strict=False. It is still unclear for me which library should be responsive for that, but fro

[2016-01-17 10:45] gsnedders commented on #225
Dupe of #214.

[2016-01-17 10:45] #225 closed

[2016-02-24 11:54] lexborisov opened #226 "wrong tree construction"
HTML:
`
<svg><desc><a><math></svg><textarea><a>
`

Result:
`
|<html html>
|  <html head>
|  <html body>
|    <svg svg>
|      <svg desc>
|        <html a>
|          <math math>
|    <html textarea>
|      <html a>
|        "<a>"
`

A must be:
`
<html html>
  <html head>
  <html body>
    <svg svg>
      <svg desc>
        <html a>
          <math math>
            <math textarea>
              <m

[2016-03-03 14:49] paradoxxxzero opened #228 "AttributeError: 'TreeWalker' object has no attribute 'fragmentChildren'"
For some reason my `tree` (`lxml.etree._Element`) object has no attribute getroot and is not a list so there is no `fragmentChildren` attribute on `TreeWalker`: 270a2ca14fafc989f8f1bd4f79db2f4bd9f4d1fc

lxml 3.5.0
html5lib-python f796cca5f9ddaaf1e1a8b872f68455551cd3ae2d

[2016-03-03 16:08] gsnedders commented on #228
Where does your tree object come from? (We should probably add an `assert False, "unreachable"` there.)

[2016-03-04 09:56] paradoxxxzero commented on #228
I narrowed down the problem to:
[code]

Which gives:

[code]

Python 3.5.1

[2016-03-17 11:48] michaelbrunnbauer commented on #10
We also need a fix for this.

[2016-04-22 07:20] guettli opened #231 "Invalid environment marker: platform_python_implementation"
I want to install html5lib editable and get this error:
[code]

My pip version:

[code]

Which version of pip is needed, or what else can I do to get `pip install -e ...` working?

[2016-04-22 07:31] guettli opened #232 "AttributeError: 'NoneType' object has no attribute 'element'"
I get this exception

[code]
If I do this:

[code]

You can get the html file from this gist: https://gist.github.com/guettli/4d2541a9b2bc3671c4332ff4e89ca2eb

Up to now I use this work-around:
[code]

Version: current master of html5lib.

[2016-04-22 12:34] gsnedders commented on #231
This is caused by a backwards incompatible change in setuptools. I can't find anything saying what version is needed quickly; sadly there's no way to be compatible with both old and new versions of setuptools. :(

I think we need `setuptools` 20.2?

[2016-04-22 12:36] gsnedders commented on #231
Perhaps https://github.com/pypa/setuptools/issues/503 means that the legacy syntax works with v20.6.6? In which case we can move back to the legacy syntax then we only don't support support 20.2 to 20.6.5, but otherwise works.

[2016-04-22 12:40] gsnedders commented on #232
I suspect this is a bug in BS4, FWIW. I'm aware BS4's html5lib tree builder has bugs. You could try seeing if <https://code.launchpad.net/~geoffers/beautifulsoup/html5lib-tests/+merge/279911> fixes it.

[2016-04-22 12:55] gsnedders commented on #232
That HTML file reduces down to `<table><FONT><P></FONT>` while still causing that exception be thrown, which is fixed in the aforementioned merge request on BS4. Closing this as a BS4 bug.

[2016-04-22 12:55] #232 closed

[2016-04-22 12:58] gsnedders commented on #232
Specifically, http://bazaar.launchpad.net/~geoffers/beautifulsoup/html5lib-tests/revision/399 is the commit which fixes this.

[2016-04-23 20:44] gsnedders commented on #231
https://github.com/pypa/packaging/issues/72#issuecomment-213826903 summarises this mess.

[2016-04-30 15:41] jelly opened #236 "-- In comment breaks parsing with treebuilder="lxml""
To reproduce:

[code]

A performance degrading solution is here https://github.com/kovidgoyal/calibre/commit/c68b9b7d64ab08ae78bf461b0e4683ce54222aa2

[2016-04-30 15:46] jelly commented on #236
Nevermind this has already been fixed in git. Is there a new release soon?

[2016-04-30 15:46] #236 closed

[2016-04-30 16:50] gsnedders commented on #231
Fixed by #234. We don't work with 20.2 to 20.6 (released mid-Feb till late-Mar 2016), but should work with both older and newer releases.

[2016-04-30 16:54] gsnedders commented on #236
@jelly Soon(ish). I was trying to sort out the mess caused by backwards incompatible setuptools changes and try and release something compatible with both old and new setuptools, rather than break plenty of people's systems…

[2016-04-30 16:54] gsnedders commented on #236
https://github.com/html5lib/html5lib-python/commit/0c551c9519e47f76f8f185089ed71cb9539b6e00 is the upstream fix, FWIW.

[2016-04-30 17:42] gsnedders opened #237 "Add error if update-xfail is used in wrong environment"
Need to make sure options are installed and `ElementTree`/`cElementTree` divergence.

[2016-05-03 17:32] gsnedders opened #239 "Namespace Sensitivity; Fragment leading to IndexError"
[code]

This causes:

[code]

[2016-05-05 19:39] jpotterm opened #242 "Use Semantic Version Numbering"
Please follow the [semantic versioning](http://semver.org/) standard when tagging releases. At the very least, this would mean:

1. Always have three numbers in the version e.g. 0.9.0
2. The successor to 0.9.0 should be 0.10.0 not 0.99.0

This would make it much easier for packages depending on html5lib-python to specify dependencies. I think version 1.0.0 is a great time to make the switch.

[2016-05-06 20:21] gsnedders commented on #242
We do. :)

See point four:

[2016-05-06 20:21] #242 closed

[2016-05-06 21:01] jpotterm commented on #242
I disagree. When it says "Anything may change at any time" that doesn't include the version number.

If I'm not explaining it clearly, let me know; I'd be happy to elaborate.

If you're intentionally ignoring semantic versioning that's fine, you can do what you want with your own packages.

[2016-05-07 02:50] gsnedders commented on #242
Hmm, I can see that argument. I think we're unlikely to change our pre-1.0.0 numbering scheme now given we're relatively close (something I've been saying for far too long), given I don't think it's worth changing. (Ultimately you still have no guarantee of API stability anyway, which makes the numbering scheme not very important pre 1.0.0, IMO. Feel free to say if you disagree!)

[2016-05-07 04:26] jpotterm commented on #242
Yeah I agree it can be awkward to change it now, so I think 1.0.0 is a great opportunity to start doing things the new way. And by the way, thanks for your work on this great package!

[2016-05-07 22:42] gsnedders opened #246 "Fix isHTMLIntegrationPoint with lxml's byte strings"
See <https://github.com/kovidgoyal/calibre/commit/a82ff8b7493ee5ee4f9d8a4fd4e56ac2c1df4267> for Calibre's fix for this. We should probably just fix it by making sure the `el.attributes.__getitem__` always returns a unicode string.

[2016-05-07 22:58] gsnedders commented on #246
Oh, this doesn't apply to us because they have their own lxml tree builder, and ours doesn't have this problem.

[2016-05-07 22:58] #246 closed

[2016-05-11 15:59] #10 closed

[2016-05-17 22:08] #11 closed

[2016-05-18 16:59] #72 closed

[2016-05-20 18:17] gsnedders opened #254 "Get rid of locals() calls"
This is pretty horribly ugly.

[2016-05-22 03:17] #179 closed

[2016-05-23 00:06] gsnedders commented on #7
Almost five years old, and no sign of any means to reproduce. On the other hand, this code is better tested now, so hopefully whatever it was is gone.

[2016-05-23 00:06] #7 closed

[2016-05-25 16:55] #228 closed

[2016-05-25 17:56] andreyfedoseev opened #258 "`annotation-xml` in MathML breaks the parser"
Here's a piece of MathML that breaks the parser:

[code]

When I pass it to `html5lib.parse` I get the following traceback:

[code]

[2016-05-25 18:49] gsnedders commented on #258
I presume it's a space character following it that breaks it.

[2016-05-29 03:38] #217 closed

[2016-05-29 03:57] gsnedders commented on #258
Yeah, `<math><annotation-xml> ` is enough to reproduce it.

[2016-06-02 22:13] gsnedders commented on #239
Ah, this is the classic namespace sensitivity bug. Ergh. Solving this with `namespaceHTMLElements` will be fun.

[2016-06-06 15:54] gsnedders commented on #231
Ergh. This is way worse than I thought. <https://gsnedders.github.io/python-marker-test/results.html> is a better summary of what supports what.

[2016-06-06 17:07] gsnedders commented on #231
So the options are:

 * `platform_python_implementation`: doesn't work before 18.5 (except on Jython/IronPython!)
 * `platform.python_implementation`: doesn't work before 20.6.6
 * `python_implementation`: doesn't work before 20.10.0 on Jython/IronPython, and doesn't work between 20.2 and 20.10.0 on other implementations.

wrt system versions: `platform_python_implementation` will work with Ubuntu

[2016-06-06 17:41] gsnedders commented on #199
https://github.com/html5lib/html5lib-python/commit/bf3e733bbafd5a9d5dfb12c86459a82e68be97fe added memoization to `getPhases`. So let's close this for now.

[2016-06-06 17:41] #199 closed

[2016-06-06 20:57] #239 closed

[2016-06-06 21:40] #132 closed

[2016-06-06 21:50] gsnedders commented on #211
Dupe of #81.

[2016-06-06 21:50] #211 closed

[2016-06-06 22:00] #231 closed

[2016-06-16 11:20] graingert opened #266 "how to use with defusedxml builders"
[defusedxml](https://pypi.python.org/pypi/defusedxml) is a library that provides safe defaults for xml library configuration.

It would be useful to include documentation on how to use html5lib with a parser that has been configured with [defusedxml](https://pypi.python.org/pypi/defusedxml).

Also is this even necessary? Does html5lib already take the precautions listed in defusedxml?

see also ht

[2016-06-16 12:54] gsnedders commented on #266
They simply aren't applicable to HTML as a language.

The vectors defusedxml deals with:

 * billion laughs / exponential entity expansion: relies on `<!ENTITY…>` which doesn't exist in HTML
 * quadratic blowup entity expansion: relies on `<!ENTITY…>` which doesn't exist in HTML
 * external entity expansion (remote): relies on `<!ENTITY…>` which doesn't exist in HTML
 * external entity expansion (

[2016-06-16 12:55] gsnedders commented on #266
So no, there's nothing to do here. Maybe we should document this somewhere.

[2016-06-19 00:39] gsnedders opened #267 "Avoid calling OrderedDict unnecessarily"
Making `normalizeToken` only call `OrderedDict` when we have more than one attribute leads to a big jump in parsing speed when parsing the HTML spec in some quick testing. Need to make sure we never append to that for it to be a safe optimisation, though.

[2016-06-21 02:10] gsnedders opened #268 "Update CONTRIBUTING guidelines on CHANGES"

[2016-06-27 13:21] #122 closed

[2016-06-27 13:21] #237 closed

[2016-07-01 16:11] jdufresne opened #269 "PicklingError: Can't pickle <class 'html5lib.html5parser.getPhases.<locals>.TextPhase'>: attribute lookup TextPhase on html5lib.html5parser failed"
Pickling an `HTMLParser` object  fails.

The following test demonstrates the behavior I was expecting:

[code]

This is failing because the `*Phase` classes are not defined at the top-level, but instead are defined inside the factory function `getPhases()`. (This pattern exists in the `treebuilders` directory as well.)

Unless there is a reason to never reuse a parser, I think the object should be

[2016-07-01 18:20] gsnedders commented on #269
I'd really like `getPhases` to go away and have some saner, ideally without the function at all. But it isn't so clear how to do so with logging still working. Would it become pickleable if we just saved a reference at the top level? (I forget the details about `pickle` frequently!)

It's definitely the case that some trees cannot be pickled, so after parsing you can't necessarily pickle the objec

[2016-07-06 23:10] #258 closed

[2016-07-11 01:13] #120 closed

[2016-07-13 21:53] gsnedders opened #273 "Kill Landscape"
A lot of PRs fail to report a result back because of Landscape. Let's just replace it with running a fixed version of pylint on Travis/tox.

[2016-07-15 03:16] nabeelio opened #276 "Broken using beautifulsoup4"
Started with 1.0b9

[code]

[2016-07-15 03:43] gsnedders commented on #276
The verisoning number is hard to make sane at this point. It started off as a bit of a joke but it's rather ended up farcically… (It was never intended to get anywhere beyond 0.9999!)

Essentially, 0.99999999 contains most of the API breakage that's needed to reach a point where there's a sane, stable API for 1.0 (and I think I can genuinely say we're actually, finally, realistically close…); some

[2016-07-15 03:50] nabeelio commented on #276
@gsnedders No worries, thanks for the quick reply. Yeah, I tried disabling the html5lib parser inside BS4 (just defaulting to the built-in `html.parser`), but it's still loading the `html5lib` classes on import. But I fixed the version to the Sept 2015 version. Is it possible, within the `treebuilders.__init__` to:

[code]

Kinda ghetto and a crap workaround. Or if anything, in the README, just st

[2016-07-15 07:52] erikzenker opened #277 "cannot import name 'sanitizer'"
I want install the django cms which uses the sanitizer of the html5lib,
but I get the error shown above in the title.

when I just import the sanitizer from html5lib:
[code]
I get the following error:

[code]
I installed html5lib from pip:

[code]
Is the sanitizer module not available anymore ?

[2016-07-15 08:58] stefanfoulis commented on #277
@erikzenker It looks like it has been removed (or moved). Quickfix is to use a slightly older version of the package where sanitizer is still there:

[code]

ot: what is it with those weird version numbers anyway? You know you could also make it 0.10 .

[2016-07-15 10:55] patoroco commented on #276
We fixed it forcing version on our project requirements.

It has already been reported on https://bugs.launchpad.net/beautifulsoup/+bug/1603299

[2016-07-15 14:11] gsnedders commented on #276
@nabeelio I debated putting something like that, but it essentially just becomes a ticking time-bomb to the point at which it is removed (and probably that would be 1.0, and I hope that isn't far off). That's also an approach that only works for some of the API changes, as some are pretty fundamental and impossible to workaround (the sanitizer changes come to mind here), so it would still leave pl

[2016-07-15 14:22] nabeelio commented on #276
@gsnedders thanks, I agree. Thanks!

[2016-07-15 14:25] gsnedders commented on #277
That's #72 and #110. The sanitizer now exists only as a filter for the treewalkers, rather than something touching the tokenizer in odd ways that was likely broken.

Our state of terrible documentation probably doesn't help here, and the changelog entry is rather useless in hindsight. The common-case is something like:

[code]

(0.10 is less than 0.9999999, so no, that option's long gone.)

[2016-07-15 18:04] gsnedders commented on #276
#278 is an attempt at that.

[2016-07-17 19:18] arunpersaud opened #279 "test not running when building on opensuse build server"
Hi

trying to package html5lib for opensuse, but I'm running into the following error when trying to run the tests:

[  113s]   File "/home/abuild/rpmbuild/BUILD/html5lib-0.999999999/html5lib/tests/tokenizertotree.py", line 10, in <module>
[  113s]     from . import test_tokenizer
[  113s] ImportError: cannot import name 'test_tokenizer'

I can't see that file in the tar-ball or in git over here.

[2016-07-17 20:45] gsnedders commented on #279
How are you running the tests? That file appears to be broken, but [running the tests as documented](https://github.com/html5lib/html5lib-python/tree/6a73efa01754253605284b5a5688de3961b120fa#tests) shouldn't even try and run that?

[2016-07-17 21:31] arunpersaud commented on #279
probably running it the wrong way ;) Currently the spec file that builds the rpm does:

     python3 setup.py test

replacing this with "py.test" gives me the following error:

[   80s] + py.test
[   80s] ============================= test session starts ==============================
[   80s] platform linux -- Python 3.5.1, pytest-2.9.2, py-1.4.31, pluggy-0.3.1
[   80s] rootdir: /home/abuild/rpmb

[2016-07-17 21:35] gsnedders commented on #279
You need the requirements given in `requirements-test.txt` to run the tests.

[2016-07-17 21:59] arunpersaud commented on #279
added the dependiences: flake8 and pytest-expect were missing (pytest and mock were already included). Still getting the same error as above.
see for example:
https://build.opensuse.org/build/home:apersaud:branches:devel:languages:python3/openSUSE_Factory/i586/python3-html5lib/_log

thanks btw for the fast response ;)

[2016-07-18 19:18] jraby opened #280 "Installing html5lib in a fresh venv fails if setuptools is not up to date"
Since #263 has been merged, it is not possible to install/upgrade setuptools at the same time as html5lib.

For example this fails:

[code]

[2016-07-18 19:34] macolo commented on #277
You could make it 1.0 though. Counting the 9s makes me dizzy.

[2016-07-18 19:41] marazt opened #281 "Incorrect call of HTMLUnicodeInputStream in _inputstream.py"
Hi, while using Weasyprint 0.29 (that uses html5lib 0.999999999) for printing templates, I have found following issue:

`env/local/lib/python2.7/site-packages/html5lib/_inputstream.py", line 149, in HTMLInputStream
    return HTMLUnicodeInputStream(source, **kwargs)
TypeError: __init__() got an unexpected keyword argument 'encoding'`

It seems that it is caused by changes in issue #120 (line 149).

[2016-07-18 21:10] phillyc opened #282 "fix version numbering"
I just spent 4 hours with another engineer trying to figure out why our builds weren't producing the same results.

Turns out I had html5lib "0.9999999" and he had "0.999999999" which was nearly impossible to spot on the pip list readout. >.<

http://semver.org/#why-use-semantic-versioning

I'm going to guess that you'll say html5lib isn't ready for production so your versioning scheme is appropri

[2016-07-19 06:39] shaileshahuja commented on #282
I didn't even realize I was facing this problem until I read this issue. I was wondering how are the same versions behaving differently!

[2016-07-19 13:42] phillyc commented on #282
I should point out that they don't appear to to be the same versions. I'm running "0.9999999" which is seven nines. While my coworker is running "0.999999999" which is *nine* nines. :/

[2016-07-19 18:27] gsnedders commented on #282
Alas, it's a bit hard to change now.

For those wondering how we ended up here, in September 2013 when we moved to asymptotically approaching 1.0 I expected a release of 1.0 by the end of 2013. Alas, that didn't happen, for a variety of reasons (primarily the spec having some large changes and not wanting to ship something out of date, and lack of time for me and lack of other contributors). It's

[2016-07-19 18:27] gsnedders commented on #281
This is https://github.com/Kozea/WeasyPrint/issues/334.

[2016-07-19 18:27] #281 closed

[2016-07-19 18:31] gsnedders commented on #279
If you're getting the same exception, then it looks like pytest-expect isn't installed. Note there are two packages called pytest-expect, because I suck. (That's https://github.com/gsnedders/pytest-expect/issues/4. Though changing name on package indexes always seem pretty horrible, hence why I keep putting it off…)

(I just get "anonymous_user(Anonymous user is not allowed here - please login):"

[2016-07-19 18:32] #277 closed

[2016-07-19 18:32] #276 closed

[2016-07-19 20:09] phillyc commented on #282
Maybe a simple solution would be to use 0.9.7 -> 0.9.9 -> 0.9.10 ??

Then whenever you feel comfortable flipping to 1.0.0 it's a simple and easy read?

[2016-07-19 20:58] sedrubal commented on #268
Does this include to update readthedocs? Because readthedocs documentation is outdated...

[2016-07-19 21:32] gsnedders commented on #282
But 0.9.7 is lower version than 0.99 (yet alone the current version!), hence that doesn't work.

[2016-07-20 07:41] ThibWeb commented on #282
If this project aims to follow SemVer (#278), the minor version number is supposed to be incremented by 1 for each minor release. What should have happened is 0.9, 0.10, 0.11.

It's understandable that html5lib might not have been following SemVer at the time / might not have had much reasons to version releases, but now this is getting hard to read. Better start now even if it still looks silly.

[2016-07-20 11:16] jedie commented on #282
It was a very, very bad idea to add a new "9" to the version number in the past!

What's about this:

* 0.999999999 (current)
* 0.9999999991 (next release)
* 0.9999999992 (next + 1)
* ...
* 0.9999999998 (max)
* 1.0

[2016-07-20 11:35] RichardLukins commented on #282
Just put a "." on the end of what we have now and add using SemVer standards there after
ie 0.999999999.1
then 0.999999999.2 ... .8 .9 .10 .11 etc and hopefully 1.0 will happen before long too!! :-)
at least you will see clearly if you are current version or not and how many you are behind

[2016-07-21 15:55] jdufresne opened #283 "Add an error for invalid children of <ul>"
[code]

I would expect an error like: "Element ul not allowed as child of element ul in this context." This is the error reported by [W3.org's validator](https://validator.w3.org/nu/#textarea).

The [spec states](https://www.w3.org/TR/html5/grouping-content.html#the-ul-element) only `<li>` tags are valid children of `<ul>`.

[2016-07-21 16:16] gsnedders commented on #283
We don't implement a validator, and as such we don't implement the content model constraints. The parser only reports parse errors, which are explicitly called out in the [Parsing HTML documents](https://html.spec.whatwg.org/multipage/syntax.html#parsing) section. A quick skim makes it look like that shouldn't produce any parse errors. Implementing an actual validator is a large project to underta

[2016-07-22 05:36] abhisheklalnediya opened #286 "cannot import name inputstream"
It was working fine till html5lib (0.9999999)
But the latest is not good.
![selection_081](https://cloud.githubusercontent.com/assets/3649024/17047484/227bb9ec-4ffc-11e6-80de-da54d372ef64.png)
![selection_082](https://cloud.githubusercontent.com/assets/3649024/17047500/4f374fc8-4ffc-11e6-8766-82e84d9f8971.png)

[2016-07-22 07:11] mhkuu commented on #286
I encountered this issue too, but I suppose this is an issue in [xhtml2pdf](https://pypi.python.org/pypi/xhtml2pdf) rather than in html5lib. The maintainer of xhtml2pdf however declared the project dead, and advises developers to switch to [WeasyPrint](https://github.com/Kozea/WeasyPrint). See [this discussion](https://groups.google.com/forum/#!topic/xhtml2pdf/PtG8J28Dwyk) for details.

[2016-07-23 08:15] wishskills opened #288 "can not import "html5lib.sanitizer" ?"
from html5lib.sanitizer import HTMLSanitizer
ImportError: No module named 'html5lib.sanitizer'

[2016-07-23 08:19] #288 closed

[2016-07-23 13:22] abhisheklalnediya commented on #286
Its not related to xhtml2pdf,
I am not able to import inputstream in my project too.

[2016-07-23 17:23] sorter commented on #286
Changing

     from html5lib import inputstream

to

    from html5lib import _inputsream as inputstream

has solved this for me.

[2016-07-23 18:11] gsnedders commented on #286
`inputstream` was always intended to be private, hence why it's not supported as an argument to `parse` (or historically the tokenizer). I'd suggest avoid using it. (If you think you have a genuine use for it, let me know!)

[2016-07-23 18:11] #286 closed

[2016-07-23 22:15] jdufresne commented on #283
Ah, I see. Thanks for the response.

[2016-07-23 22:15] #283 closed

[2016-07-24 06:27] malcolmr opened #289 "Sanitizer example in documentation needs rewriting"
After #72, the example in the documentation at https://html5lib.readthedocs.io/en/latest/movingparts.html#tokenizers is no longer valid (see also #277).

(Also the links to `tokenizer.py` and `sanitizer.py` are both 404.)

[2016-07-26 04:09] jayvdb opened #290 "flake8 v3 does not support Python 2.6"
flake8 v2 supported Python 2.6, and is used by the Travis builds.

flake8 v3 has come out of beta, though is full of bugs, but more importantly it comes with a clear intent to not support Python 2.6, which is the trendy thing to do.
https://gitlab.com/pycqa/flake8/commit/cde783d135953d7d16a1373f13b066731083e477
https://gitlab.com/pycqa/flake8/commit/c8ad626525631314decbb5bd544be47102610fd0

To sup

[2016-07-26 12:25] gsnedders commented on #290
We need Python 2.6 support because otherwise `pip` needs to fork html5lib, which I'm keen not to have happen! We'll drop 2.6 support when pip does, basically.

[2016-07-26 12:26] gsnedders commented on #280
Fixed by #285 now supporting old setuptools.

[2016-07-26 12:26] #280 closed

[2016-07-26 13:19] #290 closed

[2016-07-27 00:03] joernhees commented on #282
Ignoring http://semver.org and your fear of version 1.0.0 costs a lot more developer time than necessary.

I remember fixing issues with rdflib's dependency on html5lib a couple of times already and it seems you broke backwards compatibility again: https://travis-ci.org/RDFLib/rdflib/jobs/147499177, this with default setuptools on travis?!?

Would be cool if you would live up to your own slogan:

[2016-08-05 09:01] tonthon commented on #282
My solution was to fix the version using the alternative version numbers (1.0b8 in my case) see the full list in the changelog on pypi.python.org :
https://pypi.python.org/pypi/html5lib

[2016-08-05 09:21] graingert commented on #282
[code]

[2016-08-05 09:24] graingert commented on #282
(the lib in html5lib is redundant because everything on PyPI is a lib)

[2016-08-05 10:20] graingert commented on #282
You don't need to be up to date with the spec, or have documentation for semver 1.0.0. You just need to be ready to bump the version 2.0.0 when you add a breaking change.

[2016-08-08 12:22] Chronial commented on #282
+1 on graingert's statement – just release 1.0. The confusion from having an imperfect 1.0 is surely going to be less than the confusion caused by the current version system :).

PS: Thanks for this great lib :)

[2016-08-08 13:22] Krukov opened #295 "PLZ Move public api back"
It is very dangerous to make changes that breaks down other libraries! :suspect:
I taking about https://github.com/html5lib/html5lib-python/commit/c4dd6771836841ee796af8035dbf8239074ed5ec

(take a look at this https://github.com/xhtml2pdf/xhtml2pdf/blob/0.1b2/xhtml2pdf/parser.py#L17)

Please revert this and other related commits that changes names of public interfaces
You can use `warnings` librar

[2016-08-13 17:26] mcirsta opened #296 "accept python-distribute-0.6.49"
There is a check for :

html5lib requires setuptools version 18.5 or above; please upgrade before installing (you have 0.6)

 I have python-distribute-0.6.49 and when removing that check everything seems to work fine.

[2016-08-14 12:32] jayvdb commented on #296
This has probably been fixed by #285, unless it introduced new dependencies not in python-distribute 0.6 .
Could you test ; if it fails I'd be keen to see the error and then would try to find a workaround for you.

[2016-08-31 21:01] keithcallenberg opened #298 "Older versions of six may be incompatible"
Please disregard this if there are any overriding implications of requiring an updated version of six, but I found I needed an upgraded version in order to import html5lib.

With six==1.5.2 I receive an ImportError:

[code]

This error goes away when I add six=1.10.0 to my requirements.

[2016-09-03 07:26] scoder commented on #119
No, it actually uses its own mapping class based on the underlying XML tree data. The order is therefore preserved.

"Arbitrary" in the sense that it depends on where the attributes came from. If from the parser, then it's document order. If added later, it might make a difference whether the attribute already existed before, but AFAIR it still gets appended at the end. It's up to libxml2, and lxm

[2016-09-07 17:35] hwkns commented on #280
In the future, if the library is going to depend on something that can be installed with `pip`, maybe put it in the `install_requires` list in `setup.py`?

[2016-09-07 18:16] jdufresne commented on #290
Pip issue to drop Python 2.6 <https://github.com/pypa/pip/issues/3955>

[2016-09-27 01:07] jayvdb commented on #298
The travis build errors on #301 also show that `html5lib/html5parser.py` also imports `six.viewkeys`, which was introduced in six 1.9.0 .

a137d14b by @kovidgoyal in 2013 is where `six.viewkeys` was introduced.  It is very easy to avoid this, as that commit also included a fallback.

[2016-09-30 02:31] johnlb opened #304 "Non-standard tags in header move remaining tags to body"
In particular, this html:

[code]

becomes this (after parsing):
[code]

Also note that if I put ``link`` above ``tech``, ``link`` stays in the correct position, but ``tech`` behaves the same.

[2016-09-30 02:42] johnlb commented on #304
PS - closing ``tech`` keeps it from wrapping everything in the body (that is probably unsurprising), but it still moves everything after it into the body.

[2016-09-30 11:29] gsnedders commented on #304
This behaviour is consistent with what the HTML standard says and what all browsers implement.

[2016-09-30 11:29] #304 closed

[2016-10-06 15:41] nomadyow opened #305 "Import error on macos"
If I do:

Import html5lib

on my mac  (python 2.7)

I get the following:

`Traceback (most recent call last):
  File "./test2.py", line 2, in <module>
    import html5lib
  File "build/bdist.macosx-10.12-intel/egg/html5lib/__init__.py", line 16, in <module>
  File "build/bdist.macosx-10.12-intel/egg/html5lib/html5parser.py", line 2, in <module>
ImportError: cannot import name viewkeys`

[2016-10-06 16:18] gsnedders commented on #305
That's an out-of-date `six`, if you update `six` it should work; see also #301.

[2016-10-06 16:18] #305 closed

[2016-10-13 14:47] adamchainz opened #306 "No wheel for the latest version (0.999... however many 9's that is)"
You have the wheel config in `setup.cfg`, but didn't create one with `python setup.py bdist_wheel`. Please release one to make everyone's installs a bit faster 👍

[2016-10-20 15:48] blag commented on #125
@kenrussell Can you be more specific as to exactly which distributions require "all of the third party files pass the Linux licensecheck utility"?

[2016-10-20 16:13] kenrussell commented on #125
@blag I think it's Gentoo Linux. phajdan.jr from chromium.org could confirm, if you want to send him a direct email.

[2016-10-20 17:02] blag commented on #125
Emailed. Will update with response.

[2016-10-24 02:31] blag commented on #125
@kenrussell I haven't received a response. Can you get to the bottom of this? I'm at a dead end. 😐

[2016-10-24 14:51] gsnedders commented on #125
Debian prefers this, though obviously it hasn't thus-far stopped them from packaging html5lib. See <https://wiki.debian.org/UpstreamGuide#Licenses>. (Sorry for my vanishing, I've been busy/ill.)

[2016-10-24 14:55] gsnedders opened #307 "Document our public API"
For semver to make any sense, we really need to actually define what our public API is. We probably want to do this both through documentation and through the de-facto Python standard of underscore-prefixing (though that will likely break stuff again, le sight, but if people are using the private API they'll likely complain when we do break it in some 1.x release).

[2016-10-24 15:55] kenrussell commented on #125
I've emailed phajdan. Hopefully he'll comment here, but I'd really appreciate it if this just be committed regardless in support of the Chromium project.

[2016-10-27 21:30] gsnedders commented on #282
@graingert:

The problem is defining what a breaking change is when you're in a language like Python where *everything* is public. Pretty sure our options are essentially:

* Underscore prefix everything in one fell swoop and hope people believe anything prefixed isn't a stable API. (Which, to be fair, probably mostly suffices!) As an aside, doing much of this is a large part of what caused breaka

[2016-10-27 21:34] gsnedders opened #308 "Declare/test minimum versions of all dependencies"
Along with #301, we should have minimum versions of all of our dependencies declared and test with them on Travis.

[2016-10-27 21:40] gsnedders commented on #306
Done!

[2016-10-27 21:40] #306 closed

[2016-10-27 21:44] gsnedders commented on #298
I think I decided that 1.9 being over a year old was a good enough reason to rely on it, as if you're using a recent version of html5lib, you're obviously not opposed to running recent versions of software. Aside from pip, setuptools, and wheel we have no reason not to rely on recent versions of dependencies, as far as I'm aware.

Obviously, if you disagree, say!

[2016-10-27 21:47] gsnedders commented on #279
@arunpersaud did you ever get anywhere with this?

[2016-10-28 12:37] phillyc commented on #282
So, so sorry for causing all this drama. (even featured on [github-drama](https://github.com/nikolas/github-drama/issues/21)!)

At least we know now that there are a lot of users experiencing similar grief.

I think you're on the right track; document, prefix, and update.

This would give users a path to update themselves out of the version number problem.

I think @graingert was indicating that b

[2016-11-15 18:50] detrout commented on #279
I was debugging test problems with the Debian packaging for html5lib. After switching from nose to py.test trying to run the tests generated a traceback until I added pytest-expect.

[2016-11-18 15:18] rando305 commented on #72
Any chance someone could write replacement code for the following?

from html5lib import sanitizer

sanitizer.HTMLSanitizer.acceptable_elements.extend(settings.TEXT_ADDITIONAL_TAGS)

This would really help me out.  Thanks.

[2016-11-29 13:42] lmende opened #310 "serialize() makes a mailto href attribute unusable if it contains a query with ampersands"
`serializer.htmlserializer.serialize()` (line:248) replaces the desired `&` with `&amp;` so that the given mailto - href is broken afterwards, see below:
[code]

The resulting serialized url isn't recognized by standard mail programs like _thunderbird_ or _apple mail_.

[2016-11-29 15:49] gsnedders commented on #310
`'<a href="mailto:et@far.away?subject=Hi&amp;body=please%20call">send</a>'` and `'<a href="mailto:et@far.away?subject=Hi&body=please%20call">send</a>'` are semantically equivalent, so it should work, as both represent the same URL, `mailto:et@far.away?subject=Hi&body=please%20call`.

Where are you using the URL such that it doesn't work with them? Certainly trying it with a data URL (`data:text/ht

[2016-11-30 21:31] lmende commented on #310
You can paste
[code]
into any browser and the mail program opens without the body.
If you paste:
[code]
instead, subject and body will be fine.

[2016-11-30 21:58] gsnedders commented on #310
Why are you copying it straight from the HTML source? This seems like a very unusual use-case! If you copy the link from the browser, it works fine; if you copy the link from a parse tree, it works fine.

[2016-11-30 23:02] zcorpan commented on #310
@Imende your problem is exactly equivalent to complaining about a JSON serializer that it backslash-escapes quote characters in a string, and then try to use the escaped string in a non-JSON context.

[2016-12-05 21:11] lmende commented on #310
@zcorpan that is a good point, may be I'm not fully aware of what the html5.serializer is for. I use bleach (and bleach uses the serializer) to clean up thousands of data sets with a html description, which comes from a tinymce user input or from an unknown source.
This cleansing is the preparation to use those descriptions on a web page where now the mailto - links are broken!

[2016-12-06 08:31] zcorpan commented on #310
If the final output in the web page's source is

[code]

then it is correct. If you click the link, the URL will be `mailto:et@far.away?subject=Hi&body=please%20call` because the HTML parser changes `&amp;` into `&`.

Compare with `bleach.clean('foo < bar')` -> `foo &lt; bar`.

[2016-12-07 03:41] #310 closed

[2016-12-08 05:10] NeilHanlon commented on #282
This is _actually_ a joke, right?

[2016-12-11 18:34] lmende commented on #310
You both were right - sorry - if the output is shown via web page source the browser handles the link correctly. The only problem was, that I pasted that link into the browsers address bar for testing purpose. In this case it was mis-interpreted, but that is no common use case.

[2016-12-14 12:29] mvasilkov commented on #282
Let's just say that it's in hexadecimal, and move on: `0.999999999 => 0.A`.

[2016-12-15 14:14] RReverser commented on #282
@mvasilkov 0xA is not bigger than 999999999 though

[2016-12-15 14:49] mvasilkov commented on #282
@RReverser 0.A (as in, A * 0.1) is, however, greater than 0.999999999.

[2016-12-15 14:55] adamchainz commented on #282
0.999999999 version number is not interpreted as decimal 0.99999.. but rather the pieces are separated, into 0 and 99999... , then the comparison is made. Hence version 0.10 > 0.9. http://semver.org/ has an explanation.

[2016-12-15 15:22] RReverser commented on #282
@adamchainz @mvasilkov Well, exactly, it's split. So `0.1` has `1` in second position and `0.999999999` has `999999999` in second position, and `1` < `999999999`. If you would have `0.1000000000`, then yes, it would be higher. Explicit zeros matter.

[2016-12-16 08:18] yhaskell commented on #282
Why don't you just call it 1.0.0-RC1 For example? All problems would be resolved: It would be "almost ready". And then you could go as far as RC9999 without problems.

[2016-12-19 08:30] ThYpHo0n commented on #282
If you're not sure that your code changes are BC just increase the mayor version. Don't be afraid of it.

I like the idea of the RC version.

[2016-12-19 09:21] graingert commented on #282
@ThYpHo0n @yhaskell fyi you can install html5lib==1.0b10

[2016-12-19 09:33] ThYpHo0n commented on #282
@graingert Thanks, that works.
`pip install 'html5lib>=1.0'
Collecting html5lib>=1.0
  Could not find a version that satisfies the requirement html5lib>=1.0 (from versions: 0.2, 0.9, 0.10, 0.11, 0.11.1, 0.90, 0.95, 0.99, 0.999, 0.9999, 0.99999, 0.999999, 0.9999999, 0.99999999, 0.999999999, 1.0b1, 1.0b2, 1.0b3, 1.0b5, 1.0b6, 1.0b7, 1.0b8, 1.0b9, 1.0b10)`

`pip install 'html5lib>=1.0b'
Collecting ht

[2016-12-22 18:03] matejcik commented on #279
I'm still seeing the traceback from https://github.com/html5lib/html5lib-python/issues/279#issuecomment-233205410 even with pytest-expect present. There doesn't seem to be anything in the code that loads the expect plugin, `py.test --trace-config` doesn't list it in active plugins. And when added manually with `py.test --trace-config -p pytest_expect`, it is shown as active but the same traceback

[2016-12-22 21:04] gsnedders commented on #279
Travis at least manages fine, finding the plugin as soon as it is installed! I don't really know beyond that, honestly.

[2016-12-23 15:09] matejcik commented on #279
Looking at travis instructions actually helped.
Turns out the problem is that pytest-expect depends on u-msgpack-python, which gets pulled automatically when you install with pip, but not when you create dependencies manually in a package manager -- a limitation of our autoconverter tool.

And of course py.test runner hides the failure, surprisingly even in case when you explicitly request the plu

[2016-12-28 01:25] spacekitteh commented on #307
Is this being worked on at all?

[2016-12-28 17:53] gsnedders commented on #307
@spacekitteh Pretty much no; I basically got burnt out from a bunch of OSS stuff I was doing in my spare time, this included, so pretty much nothing has happened since the last release.

[2016-12-29 00:56] spacekitteh commented on #307
Sorry to hear :(

[2016-12-29 11:43] gsnedders commented on #307
FWIW, I have two separate transatlantic trips next month, so I'm hopeful of getting something done then because flights to the West Coast are just Too Damned Long to not run out of things to do.

Half the problem with documenting the API is the fact that some of the arcane parts I don't really know what the API even is. There's basically two halves: the half that almost anyone could write (realist

[2016-12-29 15:58] FRidh commented on #282
Don't bother with older versions of `setuptools`. When people want to install a recent version of `html5lib`, then they shouldn't use their distributions' provided `pip`/`setuptools` but instead those provided in a `virtualenv`, which are typically the latest version.

[2017-01-05 22:13] mdxs commented on #298
By silence procedure and #301 being merged, I would say this can be closed now.

[2017-01-05 22:27] mdxs commented on #61
When @tjerkw says _"It is nosetests.."_ and "_You can probably close this and see this as a nosetests problem"_ and all this is from 2013; then surely this issue can be closed as-is / wontfix (and when in doubt: see it as a nosetests problem... and still close this issue).

[2017-01-05 23:00] #61 closed

[2017-01-05 23:35] mdxs commented on #296
By silence procedure, I would say this can be closed now; as @mcirsta didn't report back and @jayvdb thinks that #285 resolved this issue.

[2017-01-11 07:49] TZanke commented on #232
This branch is now merged into master:
https://code.launchpad.net/~geoffers/beautifulsoup/html5lib-tests/+merge/279911

Lets give it a try.

[2017-01-24 22:09] willkg opened #312 "sanitize filter introduced in 0.99999999 (8 9s) creates extra tags"
I'm the maintainer for bleach. I've spent a good portion of the last few days trying to rewrite bleach to work with html5lib >= 0.99999999 (8 9s). It's been interesting.

The sanitizer that we used in 0.9999999 (7 9s) is gone. That's replaced with a filter system. So previously, bleach would "tap into" the pipeline with a Tokenizer, but now it's "tapping into" the pipeline with a Filter.

The prob

[2017-01-24 22:11] willkg commented on #312
As a side note, I'm super tired. If I'm horribly wrong about any of the bits above, I really apologize.

[2017-01-25 01:16] gsnedders commented on #312
To some degree, there was always weird mangling with bogus tags, it's just got weirder now. `'<foo\tbar>` always became `&gt;foo bar>` (I think? it might've been `&gt;foo bar="">`? I realise I'm talking about detail, but I too am pretty tired so might screw up on the detail. :))

I guess there's a bunch of related questions here, all related to what is acceptable output:

* `<p>foo<p>bar`
* `<p>fo

[2017-01-25 01:54] willkg commented on #312
Bleach can drop disallowed tags (it's more than just unknown tags--it's all not-allowed tags) or it can escape them. So it can do `<x>y</x>` -> `y` as well as `<x>y</x>` -> `&lt;x&gt;y&lt;/x&gt;`.

`<sarcasm/>` is an interesting input. I've seen it and similar things pop up occasionally. Bleach has always had issues with various categories of input, some of which I'd like to fix at some point.

I

[2017-01-25 03:09] gsnedders commented on #312
Oh, yeah, it is, entirely. Sorry, I should've been explicit about that.

The proper solution, I suspect, is to have a tree such that you can access the original strings each token was parsed from. We're quite obviously a long way away from that. Blargh. I thought we could get away with just dropping disallowed tags everywhere which makes this not a problem; the escaping case is harder. (And in rea

[2017-01-25 21:48] willkg commented on #312
I'll spend some more time understanding treewalkers and the other parts involved. I only picked up Bleach maintenance a year ago, so this is all still new-ish to me and I don't have a good mental model of the bits, yet.

I'll also finish up redoing Bleach to use the sanitize Filter and see what else pops up.

[2017-01-26 13:41] Ryuno-Ki opened #313 "Links to tokenizer.py and sanitizer.py broken"
As already mentioned in #289 the links to tokenizer.py and sanitizer.py are broken in https://github.com/html5lib/html5lib-python/blob/1a28d721091a2c433c6e8471d14cbb75afd70d1c/doc/movingparts.rst#htmltokenizer

Instead of `<https://github.com/html5lib/html5lib-python/blob/master/html5lib/tokenizer.py>` and `<https://github.com/html5lib/html5lib-python/blob/master/html5lib/sanitizer.py>` they shoul

[2017-01-27 02:59] gsnedders commented on #312
@willkg Okay, here's a bunch of fairly off-hand thoughts:

* A very limited tokenizer API may well be the right level to do this at (though it does have its downsides, especially when it comes to more awkward HTML: `<svg><title>` does what? simply stripping all title tokens isn't really a great thing to do from an accessibility point-of-view!). I'm thinking of something like a function that takes

[2017-01-27 14:16] defjaf commented on #282
Hi,

I *only* install html5lib because it's a dependency of other packages. When I `pip install --upgrade` one of these other packages, it usually forces a downgrade of html5lib, which then shows up as `outdated`.

I assume this is the same problem? If so, please fix it. If not, what am I doing wrong?

Andrew

[2017-01-27 15:02] mar77i commented on #282
@defjaf I think this is pip being not as smart as it might be. To be fair, to implement versioned dependencies is indeed hard.
The version numbers are sorted correctly by pip, so the issue here doesn't apply to your problem.

I've had the problem in the past, and the lesson I learned from pip was that when you upgrade packages, only upgrade those which you explicitly installed.

[2017-01-27 15:04] adamchainz commented on #282
I think @defjaf 's problem is probably the packages that depend on it pinning the version, nothing to do with pip

That's bad advice, some packages have very strict dependencies, like every `celery` version requires a specific version of `kombu`. I use `pip-compile` from https://github.com/nvie/pip-tools to solve these problems, it's much better than `pip install --upgrade`

[2017-01-27 15:07] mar77i commented on #282
@adamchainz I did *not* mean doing isolated upgrades, but only explicitly passing packages to pip and I *think* dependencies get installed to satisfy these updates' prequisites.

[2017-01-27 15:14] adamchainz commented on #282
OK my bad, I misunderstood your advice.

Anyway back on topic, still looking forward to the day `html5lib` 1.0.0 comes out.

[2017-01-30 01:50] DanielTate commented on #277
This is still not working.... Are there any real solutions to this?

[2017-02-01 09:59] defjaf commented on #282
Well, this is happening with projects like [jupyter's notebook](https://pypi.python.org/pypi/notebook), which I would imagine tries pretty hard to comply with standards. Just this morning, that was upgrade to 4.3.2, and the upgrade had the following:

     pip3 install --upgrade notebook

      <.... many lines removed....>

     Collecting html5lib!=0.9999,!=0.99999,<0.99999999,>=0.999 (from blea

[2017-02-05 21:09] tbodt opened #314 "How could html5lib be made faster?"
html5lib is nice, but it's pretty slow. On a fairly large test file, lxml took 50ms and html5lib took 5 seconds, which is 100 times slower.

Are there any particularly slow parts of html5lib that could be optimized? Would compiling it with Cython help?

[2017-02-06 20:19] gsnedders commented on #314
In general terms, most of the low hanging fruit was done years ago.

What's left is things that become possible with heavy refactoring (though the gains are hard to predict in some cases) and compiling parts with Cython (though to get decent gains there you'll likely have to refactor to take out some new bottlenecks, I think).

[2017-02-06 20:40] tbodt commented on #314
I did a profile on the input `'<tag></tag>'*1000000`. Here's the top few lines of profiling output, which account for 99.7 percent of execution time:

[code]

Observations:

  - Not quite sure what to make of the fact that 7 seconds are spent *inside* `HTMLTokenizer.__iter__`. It doesn't seem like it has very much to do, just calling out to the state functions that do most of the work. Maybe it wo

[2017-02-06 21:52] jgraham commented on #314
Honestly if you are going to have a dependency like Cython a much, much more effective approach would be to write python bindings for [html5ever](https://github.com/servo/html5ever). That will give you lxml-comparable speed with equal or better spec conformance compared to html5lib.

[2017-02-06 22:11] tbodt commented on #314
@jgraham I did not know about html5ever. That's totally what I'm going to be using instead of html5lib. Thanks a lot!

[2017-02-06 22:11] tbodt commented on #314
@jgraham I did not know about html5ever. That'

[2017-02-06 22:11] #314 closed

[2017-02-06 23:05] gsnedders commented on #314
@tbodt the "oddly" small functions all spend the majority of their time doing dict lookups, and Cython won't help that.

Gumbo has some means of building a Python tree through html5lib's treebuilders, but that's probably still needlessly expensive given the cost of construction the tree (especially versus lxml and cElementTree which don't iterate through the tree in any way in Python code), which

[2017-02-09 06:20] SamuelMarks opened #315 "pip install fails with AttributeError: 'NoneType' object has no attribute 'splitlines'"
The issue is that `dist = html5lib 1.0b10` and `metadata = None`. `metadata` should equal an object with a `splitlines` method.

Usually it's your README.

[2017-02-09 16:26] gsnedders commented on #314
Also, to note, Python 3.7 is on some benchmarks of html5lib 25% quicker than Python 2.7.

[2017-02-13 20:11] willkg commented on #312
I've had this problem with github where I wasn't getting notification emails for like the last year. (Hopefully fixed now.) So I completely missed this last reply. Sorry about that.

A tokenizer option seems plausible. I started looking into re-implementing the tokenizer-based sanitizer that html5lib 0.9999999 (7 9s) had, but I got stuck on figuring out a good way to specify the tokenizer without

[2017-02-17 21:13] willkg opened #316 "sanitize_css gauntlet rejects valid css"
I'm working through rewriting Bleach to work with html5lib >= 0.99999999.

We have a few "sanitize the css" tests that are failing the regexp gauntlet in `filters/sanitizer.py:Filter:sanitize_css`.

In particular, it doesn't like the following:

* `font: italic small-caps bolder condensed 16px/3 cursive;`
* `color: rgba(255,0,0,0.4);`
* `color: hsl(30,100%,50%);`
* `cursor: -moz-grab;`
* `text-ove

[2017-02-17 21:15] willkg commented on #316
Incidentally, previous versions of Bleach overrode this method with a different gauntlet. I'm going to keep doing that, so this doesn't block me in any way. I figured it helped to write up a bug.

[2017-02-17 21:19] willkg opened #317 "sanitize_css sort of ignores allowed_css_properties"
https://github.com/html5lib/html5lib-python/blob/1a28d721091a2c433c6e8471d14cbb75afd70d1c/html5lib/filters/sanitizer.py#L854

That `elif` section essentially means that those four style properties get allowed regardless of `allowed_css_properties` value.

For example, this text:

[code]

with this `allowed_css_properties`:

[code]

gives this:

[code]

[2017-02-17 21:22] willkg commented on #317
Is it sufficient to change the code to something like this?:

[code]

If so, I can submit a PR. If not, let me know what you want to do and I can submit a PR for that.

[2017-02-18 02:13] willkg commented on #312
I think I'm mostly done with a Bleach rewrite with html5lib >= 0.99999999 (8 9s) and have a much clearer understanding of this issue as it relates to Bleach. My fears were for naught--the only big regression is this one--it creates extra tags. That manifests itself in a few different kinds of strings all of which are malicious anyhow, so I don't think they matter.

The only case which isn't malici

[2017-02-18 02:13] #312 closed

[2017-02-19 21:39] gsnedders commented on #316
I think until #152 happens this is simply not going to get fixed.

[2017-02-19 21:42] gsnedders commented on #315
Where is `metadata`?

What are you doing such that `pip install` fails? With pip 9.0.1, I can install html5lib fine.

[2017-02-19 21:42] #298 closed

[2017-02-21 13:28] willkg commented on #152
@gsnedders Do you want help with this issue? I can test it out with Bleach and then create a PR for html5lib. Would that help?

[2017-02-21 14:46] gsnedders commented on #152
@willkg Yes! Please feel free to. If you want a pointer, you probably want to start at `tinycss.CSS21Parser.parse_style_attr`.

[2017-02-22 07:14] Deimos opened #321 "Sanitizer removes the <ol> "reversed" attribute"
`reversed` is a boolean attribute on `<ol>` that can be used to make descending lists. The sanitizer seems to be stripping this (it's not included in `allowed_attributes`).

https://html.spec.whatwg.org/multipage/semantics.html#attr-ol-reversed

[2017-02-22 21:24] willkg commented on #59
Pretty sure I just hit this. I don't know if it's the same cause as it was in 2013, but I'm pretty sure the problem is here:

https://github.com/html5lib/html5lib-python/blob/17499b9763a090f7715af49555d21fe4b558958b/html5lib/serializer.py#L246

Given that there's a `# TODO` there, I think it's probably known. Figured I'd mention it in the bug comments in case that's helpful.

[2017-02-22 21:35] willkg opened #322 "alphabeticalattributes filter TypeError when comparing namespaced attributes with non-namespaced attributes"
In SVG 1.1, you could have something like this:

[code]

In Python 3, that creates the following attributes:

[code]

The problem is that this means we're comparing `None` with a str here:

https://github.com/html5lib/html5lib-python/blob/17499b9763a090f7715af49555d21fe4b558958b/html5lib/filters/alphabeticalattributes.py#L17

That kicks up a TypeError.

Script:

[code]

Traceback:

[code]

This is

[2017-02-22 21:36] willkg commented on #322
I'm pretty sure this is an easy fix in alphabeticalattributes. If I throw together a PR, will someone help me land it?

[2017-02-22 22:34] gsnedders commented on #59
Yeah, this is something I keep saying I'll fix, but IIRC it's somewhat awkward for some reason that's never quite obvious.

[2017-02-22 22:35] gsnedders commented on #322
Sure!

[2017-03-06 05:44] akxlr opened #326 "Unexpected handling of nested <a> tags"
I am using html5lib to parse some invalid HTML containing nested `<a>` tags. I apologise if the below is expected behaviour (I am aware nested `<a>` tags are not allowed).

[code]

Note the self-closing tag in the second example. I would instead expect

[code]

If this is indeed the expected behaviour, is there some way I go about parsing nested `<a>` tags to get the latter result?

[2017-03-06 14:27] gsnedders commented on #326
This is the expected behaviour per spec (and it does indeed match what all browsers do in this case). We don't offer any way to deviate from the spec-compliant behaviour.

[2017-03-06 14:27] #326 closed

[2017-03-08 15:05] davidread opened #328 "Release to pypi"
It would be helpful if you are able to release another version to pypi. The current latest dates from July 2016.

Personally I could do with this fix:
https://github.com/html5lib/html5lib-python/pull/301
coming through into my CI.

[2017-03-12 17:52] arunpersaud commented on #279
Hi

sorry for the responding, somehow slipped my radar :( Turns out it was the same problem as for matejclk, u-msgpack-python was missing, added it and now everything is working.

Thanks

[2017-03-12 20:07] #279 closed

[2017-03-12 20:09] gsnedders opened #329 "Ensure pytest-expect is loaded before running tests"
#279 was ultimately all about pytest-expect not being loaded; we should fail-hard without it being present without just giving a massive traceback.

[2017-03-20 13:09] gsnedders opened #330 "Drop Python 2.6 support"
See also #309. Now that https://github.com/pypa/pip/pull/4343 has landed, we can probably start thinking again about dropping 2.6 support. As mentioned in #309, we probably want to wait until pip 10.0 actually ships, however.

[2017-04-27 14:38] madelinezec opened #335 "Html5lib won't install on Python 2.7"
My python code runs on Python 2.7, but html5lib will only install on 3.5. When I run `pip install html5lib`, I get this nasty message:
<img width="1067" alt="screen shot 2017-04-27 at 10 26 59 am" src="https://cloud.githubusercontent.com/assets/15312869/25488610/7386ab2a-2b35-11e7-8248-222c5bc2f402.png">
I think because of this issue of python versions, when I try to run my python code, I get the

[2017-04-27 16:08] madelinezec commented on #335
I'm getting a different issue now, but this is the solution to the html5lib.
[code]
To learn more, this is an excellent thread:https://github.com/pypa/pip/issues/3165

[2017-04-27 16:08] #335 closed

[2017-04-27 17:20] madelinezec opened #336 "ImportError: cannot import name viewkeys"
I have python code that uses mechanize to login to a website. With six==1.4.1 and six==1.10.0, I get this error:

[code]
This appears to similar to[ this post](https://github.com/html5lib/html5lib-python/issues/298), except changing the version of six package didn't fix anything.

[2017-04-28 15:15] madelinezec commented on #298
I'm having this exact error, but I have six==1.10.0 installed. Any other reason this could be happening?

[2017-04-30 06:58] cjerdonek commented on #102
Responding to this (and independent of this issue as it was originally filed), would it make sense for `lxml.html` to add support for namespaces?

[2017-04-30 07:13] cjerdonek opened #337 "Allow passing strict to html5parser.parse() and parseFragment()"
It would be nice if [`html5parser.parse()`](https://github.com/html5lib/html5lib-python/blob/984f934d30ba2fde0e9ce5d4581c73fb81654474/html5lib/html5parser.py#L34) and `parseFragment()` allowed passing the `strict` argument. The argument would just be passed to the `HTMLParser` constructor like it's done with the `namespaceHTMLElements` argument.

[2017-04-30 10:12] cjerdonek opened #338 "lxml serializer goes "past" individual elements"
I noticed that when serializing an individual element, the lxml serializer continues "past" the element.  This causes inconsistent behavior between the "etree" and "lxml" tree types.

A minimal way to reproduce:

    def render(html, tree_type):
        root = html5lib.parseFragment(html, namespaceHTMLElements=False,
                                 treebuilder=tree_type)
        # Get the <b> ele

[2017-04-30 10:22] cjerdonek commented on #338
Also, `lxml.etree` and `lxml.html` do behave the right way:

    tree_type = 'lxml'
    html = '<div><b>foo</b></div>'
    root = html5lib.parseFragment(html, namespaceHTMLElements=False,
                             treebuilder=tree_type)
    # Get the <b> element.
    element = root[0][0]
    print(html5lib.serialize(element, tree=tree_type))
    print(lxml.etree.tostring(element, encoding='unic

[2017-04-30 14:16] gsnedders commented on #102
Yes, given HTML has been defined, and implemented in browsers, to put things in namespaces for almost ten years now. That might need changes in libxml2 too, though.

[2017-04-30 18:13] cjerdonek opened #339 "typo in htmlIntegrationPointElements"
From [here](https://github.com/html5lib/html5lib-python/blob/984f934d30ba2fde0e9ce5d4581c73fb81654474/html5lib/constants.py#L426):

    htmlIntegrationPointElements = frozenset([
        (namespaces["mathml"], "annotaion-xml"),

[2017-05-01 03:30] cjerdonek opened #340 "etree serializer fails when serializing lxml.html element containing a comment"
Calling `html5lib.serialize()` fails when passing `tree='etree'` and an element containing comments created by `lxml.html`.

This _should_ work because `lxml.html`'s documentation [says](http://lxml.de/lxmlhtml.html) about itself:

Passing `tree='lxml'` doesn't work as a work-around in general because of this issue: https://github.com/html5lib/html5lib-python/issues/338

To reproduce:

    html =

[2017-05-01 06:12] cjerdonek commented on #340
Okay, it looks like it might work to pass `lxml.etree` for the `implementation` argument. I'm not sure if this is supported though (it's not listed as an example value for the argument in the documentation):

    from html5lib.serializer import HTMLSerializer

    def render(element, implementation=None):
        walker_cls = html5lib.getTreeWalker('etree', implementation=implementation)
        w

[2017-05-01 09:21] cjerdonek opened #341 "etree serializer breaks if an etree.Entity is present"
The etree serializer breaks if an Entity object is present.

To reproduce:

    import html5lib
    from html5lib.serializer import HTMLSerializer
    import lxml
    from lxml import etree

    def render(element, treeType, implementation=None):
        walker_cls = html5lib.getTreeWalker(treeType, implementation=implementation)
        walker = walker_cls(element)
        serializer = HTMLSerial

[2017-05-01 18:36] cjerdonek commented on #340
Closing as the ElementTree API doesn't seem to expose a way to detect comments (other than checking the type directly). The documentation could perhaps be improved to list `lxml.etree` as a (third) example value in its documentation of the implementation argument.

[2017-05-01 18:36] #340 closed

[2017-05-01 19:05] cjerdonek commented on #338
I'm guessing this issue has to do with the fact that `etree_lxml.TreeWalker.__init__()` [wraps `tree` in a different object](https://github.com/html5lib/html5lib-python/blob/984f934d30ba2fde0e9ce5d4581c73fb81654474/html5lib/treewalkers/etree_lxml.py#L130) before passing it to `base.NonRecursiveTreeWalker.__init__()`:

    class TreeWalker(base.NonRecursiveTreeWalker):
        def __init__(self, tr

[2017-05-02 00:53] indivisible commented on #338
You're right, removing the [Root wrapper line](https://github.com/html5lib/html5lib-python/blob/984f934d30ba2fde0e9ce5d4581c73fb81654474/html5lib/treewalkers/etree_lxml.py#L133) solves this problem and some others too.

That wrapper also gives problems when you try to walk over an element that has siblings. What is it even supposed to accomplish?

The walker is broken for list of elements, too (li

[2017-05-02 15:10] gsnedders commented on #338
IIRC, it's meant to ensure that the DOCTYPE gets included when we have a whole tree. We probably should just special-case getting an `lxml.etree._ElementTree` object for that.

As far as I can tell (from what we have tests for), it works fine for whole trees and for whole fragments. What it doesn't work for is arbitrary elements.

[2017-05-02 16:26] indivisible opened #342 "The serializer sometimes omits the last token"
I've noticed that html5lib.serializer.HTMLSerializer sometimes does not emit the last closing tag for fragments.

[Demonstration of the bug](https://gist.github.com/indivisible/2d4919637e20b235f4c7e9ccf91e595b)

[2017-05-02 16:36] indivisible opened #343 "lxml walker raises IndexError on empty list"
The lxml treewalker throws an IndexError if given an empty list.

This is a problem because with the lxml TreeBuilder parseFragment will produce an empty list for an empty input string, making spacial handling necessary compared to other tree types.

(Demonstration of the bug.)[https://gist.github.com/indivisible/c31f800e9c0b463009f5f69f65aecba7]

[2017-05-02 16:37] cjerdonek commented on #338
For fragments, I'm getting that `lxml.etree` elements _do_ work when passing treeType `'lxml'` to `getTreeWalker()` used for the serializer (which is the case this issue was originally about), but it _doesn't_ work when passing `'etree'`. So it's the opposite of this issue.

Here's code to reproduce:

    def render(element, treeType, implementation=None):
        walker_cls = html5lib.getTreeWalk

[2017-05-02 16:45] cjerdonek commented on #342
I'm guessing this behavior is deliberate. Try this and you'll get a different result:

        serializer = HTMLSerializer(omit_optional_tags=False)

[2017-05-02 16:51] indivisible commented on #342
I see, thanks. Although that seems like a terrible default.

[2017-05-02 23:27] indivisible commented on #338
Actually now that I've looked at things a bit better wouldn't it be better to scrap the lxml specific stuff and replace it with the etree-API stuff? If I use `TreeBuilder = html5lib.treebuilders.etree.getETreeBuilder(lxml.etree)['TreeBuilder']` and likewise for the TreeWalker everything starts working as expected.

[2017-05-02 23:37] cjerdonek commented on #338
Perhaps, but note that (at least as it stands now) the etree serializer has some of its own issues, like the one I mention in the comment before this one, and also this issue: https://github.com/html5lib/html5lib-python/issues/341

[2017-05-02 23:40] cjerdonek commented on #338
Also, I think the original idea behind the lxml serializer is that it is optimized / faster. E.g. see here: https://html5lib.readthedocs.io/en/latest/html5lib.html#html5lib.__init__.getTreeWalker

[2017-05-03 00:04] indivisible commented on #338
#341 doesn't look like a bug: the Entity class in lxml.etree is an lxml exclusive extension to the API.

[2017-05-03 00:11] cjerdonek commented on #338
Okay, well then all the more reason not to scrap the lxml serializer. Something should be capable of serializing lxml.etree elements.

[2017-05-03 17:19] gsnedders opened #344 "Make the serialiser match the HTML fragment serialization algorithm"
[Linkity link](https://html.spec.whatwg.org/multipage/syntax.html#html-fragment-serialisation-algorithm).

A lot of this is essentially is essentially changing defaults for the serialiser. The only particularly questionable part is the fact it never serialises PUBLIC/SYSTEM parts of DOCTYPEs, so we probably need a new option for that.

[2017-05-03 17:20] gsnedders commented on #342
We seem not to have a bug for changing to matching how the spec says to serialise stuff… Oh well, we have https://github.com/html5lib/html5lib-python/issues/344 now.

As @cjerdonek says, this is by design.

[2017-05-03 17:20] #342 closed

[2017-05-03 17:27] gsnedders commented on #338
AFAIK, it was mostly down to API differences around things like `Entity` and maybe `getroot` and `docinfo` and the like. It might simply be unneeded on the tree walker side, though is definitely needed on the tree builder side (where lxml enforces element names etc. match the XML productions, though maybe we have even crazier stuff to undo that which IMO we shouldn't?). If it's practical, I'm not

[2017-05-03 17:29] gsnedders commented on #341
As @indivisible mentioned, `etree.Entity` is an `lxml` extension to the ElementTree API.

[2017-05-03 17:50] #341 closed

[2017-05-03 17:54] cjerdonek commented on #338
I think it's important to keep around for the reason I mentioned in my comment just above -- namely, otherwise, there would be no way to serialize trees containing lxml.etree.Entity objects, for example (since #341 was closed).

[2017-05-03 18:02] indivisible commented on #338
I've been looking into it, and the problems I've ran into so far are:

1. Comments: lxml does not support comments with '--' in them, and comments ending with '-'.

2. doctype: the etree TreeBuilder tries to put the doctype in an Element. In lxml it's stored in DocInfo, and can't be added to tree after it's created.

Still, some small changes enable the etree builder/walker to work. Adding Entity

[2017-05-04 07:18] cjerdonek commented on #201
FYI, one more data point on this. I just discovered that [`html-tidy`](http://www.html-tidy.org/) has a built-in limitation where it will error out if it uncovers more than 10 of the following characters in an attribute value: `\n`, `<`, and `>`. So escaping only left-angles (and even right-angles, too) isn't enough for passing to `html-tidy`.

Here is the issue I just filed about it: https://gith

[2017-05-06 10:00] gsnedders commented on #201
Maybe we should make escaping pluggable, though I wonder what the perf cost of that would be… This isn't the first thing it'd help with.

[2017-05-06 16:39] cjerdonek commented on #201
For sure, I think it can be done. It's mainly a question of the API you want and which aspects you want pluggable.

All of the behavior we're discussing in this issue happens in these three lines:

    v = v.replace("&", "&amp;")
    if self.escape_lt_in_attrs:
        v = v.replace("<", "&lt;")

(link to source is [here](https://github.com/html5lib/html5lib-python/blob/984f934d30ba2fde0e9ce5d4581

[2017-05-07 19:41] cjerdonek opened #345 "etree lxml.etree walker can't serialize full documents"
The etree walker with implementation `lxml.etree` doesn't work when passed a full html document (having type `lxml.etree._ElementTree`).

To reproduce--

    def serialize(element, treebuilder, implementation=None):
        walker_cls = html5lib.getTreeWalker(treebuilder, implementation=implementation)
        walker = walker_cls(element)
        serializer = HTMLSerializer(omit_optional_tags=Fals

[2017-05-09 06:51] emorozov opened #346 "Sane version numbering"
Is it possible to switch to sane version numbers? Like sequential numbers, starting from 1.0 or date-based version numbers (like 2017.05).

Current version numbers makes it really hard to understand what version is installed and what version is required. Counting all these nines is not easy.

I understand that for you this is sounds like a cosmetic issue but I constantly find my code broken by htm

[2017-05-09 15:43] nicktimko commented on #346
https://github.com/html5lib/html5lib-python/issues/282

[2017-05-09 16:16] #346 closed

[2017-05-12 08:24] serhiy-storchaka opened #347 "Incompatibility with possible future regular expression syntax"
Currently the `re` module supports only simple set syntax. But it is possible that in future it will support extended syntax: nested sets and set operations. Unfortunately that syntax is not fully compatible with the current syntax. In particular open bracket `'['` in a character set starts a nested set. The code of html5lib contains a regular expression that will be broken if the new syntax will

[2017-05-19 07:35] frivoal commented on #59
hi @gsnedders

I think I just hit that too, and it's getting in the way of publishing specifications at W3C using echidna:
1. Bikeshed generates a railroad diagram using `<a xlink:href="..."` in svg
2. html5lib-python is used by bikeshed to process the markup, and strips the `xlink:` namespace, leaving `<a href="..."
3. try and publish the spec using echidna
4. echidna uses validator.nu, which doe

[2017-05-19 13:26] gsnedders commented on #59
I thought Bikeshed had its own HTML serializer?

[2017-05-19 13:57] frivoal commented on #59
I don't know how bikeshed works, but it invokes html5lib at least for some things, behaves the same as if it was triggering this bug, and if I change bikeshed to emit an xlink:hrof instead of xlink:href just for testing purposes, it throws this at me:

  warnings.warn("Coercing non-XML name", DataLossWarning)

which I don't quite understand or want to debug, but having html5lib in the name makes m

[2017-05-23 01:42] tabatkins commented on #59
Yeah, Bikeshed uses its own custom serializer. That warning from html5lib is on the *parsing* side, and it's because the HTML parser only recognizes a handful of "namespaced" attributes, and if you do something else you just get an attribute name with a colon in it, which is illegal per XML rules.

(I hate *hate* ***hate*** that particular error, as it gives *zero* information about what is being

[2017-05-23 12:01] gsnedders commented on #59
(@tabatkins, can you file a bug on that?)

[2017-05-24 00:56] tabatkins commented on #59
I did. ^_^ #107

[2017-06-01 13:34] jakearchibald commented on #336
I'm also getting this error when trying to run Bikeshed

[2017-06-01 14:06] jakearchibald commented on #336
I "fixed" it by doing

[code]

[2017-06-07 20:20] yellowdoge commented on #336
I got the same problem and the same solution, thanks @jakearchibald !  (+@tabatkins FYI)

[2017-07-18 17:50] meawoppl commented on #282
What should we call the fork?  I am thinking `html6lib-python` to optimize how much people in the future hate us.

[2017-07-19 09:14] adamchainz commented on #282
@graingert has `html5` on PyPI: https://pypi.org/project/html5/

[2017-07-19 09:15] graingert commented on #282
Will hand make a little cron job to copy over PyPI versions at some point

[2017-08-14 14:14] Martin-Pitt commented on #336
Thanks @jakearchibald. I had the same problem but when installing Bikeshed for the first time on OSX. Seems to be working now with your solution.

[2017-08-14 17:24] tabatkins commented on #336
And I've [updated the Bikeshed docs accordingly](https://github.com/tabatkins/bikeshed/issues/1035). Thanks!

[2017-08-17 13:32] nils-werner commented on #282
Incredible, over a year has passed and nothing has changed.

[2017-08-18 19:54] erccarls commented on #277
Any luck here?

[2017-08-31 13:30] #322 closed

[2017-09-06 14:24] Paul424 commented on #104
When i place a <link> element inside a <noscript> inside <head> then the contents of the noscript gets encoded: < becomes &lt; After reading the referenced issue i still have no clue how to resolve it? I read about the scripting flag but how/where would i need to do this?

[2017-09-16 15:28] zaazbb opened #348 "do you have a plan time to drop the ugly version number like 0.999999999?"
do you have a plan time to drop the ugly version number  like 0.999999999?

[2017-09-17 14:27] ikirudennis commented on #348
Seriously. It's been over a year since 1.0b10/0.999999999 was released. Isn't it time to pull the trigger?

[2017-09-21 13:14] drafter250 commented on #348
Hi thanks for your work on this project!

I was reviewing my package listing due to the following article, https://www.bleepingcomputer.com/news/security/ten-malicious-libraries-found-on-pypi-python-package-index/

While thankfully i did not find any of the packages in that list I noticed the odd version number for html5lib and it triggered me to investigate the package further to make sure it was

[2017-10-03 10:51] anx-ckreuzberger commented on #348
I would also like to emphasis the importance of releasing "1.0" and start using [semantic versioning](http://semver.org/).

[2017-10-03 14:00] willkg commented on #348
This is a duplicate of #282. I'm closing it out.

[2017-10-03 14:00] #348 closed

[2017-10-03 14:02] willkg commented on #295
It's been over a year now. I don't think we're going to undo this, so I'm going to close this out.

I'm sorry this affected you and other projects and was difficult to deal with.

[2017-10-03 14:02] #295 closed

[2017-10-03 14:16] willkg commented on #138
I just closed the relevant PR.

First, someone needs to research whether `tel:` is safe in all contexts. We'd want that for this to be added as a default. I think the answer is "no" based on this comment:

https://github.com/html5lib/html5lib-python/pull/149#issuecomment-97304684

Though that's conflating "valid" with "safe" a bit.

I don't think this is a good thing to have as a default. Given th

[2017-10-03 14:19] willkg commented on #193
@dsimandl Can you provide example code that illustrates the problem?

[2017-10-03 14:22] willkg commented on #273
@gsnedders I don't see "Landscape" in this project. Can you explain this issue more?

[2017-10-03 14:24] willkg commented on #268
This is in `CONTRIBUTING.rst` currently:

[code]

@gsnedders Is there anything else to do in this issue?

[2017-10-03 14:26] willkg commented on #296
@mdxs Thank you! Closing this out.

[2017-10-03 14:26] #296 closed

[2017-10-03 14:27] willkg commented on #315
@SamuelMarks Can you show an example of your issue with what you're typing and what gets printed to stdout/stderr?

[2017-10-03 14:39] willkg opened #349 "remove utils/spider.py"
Per:

https://github.com/html5lib/html5lib-python/pull/294#issuecomment-256780543

We should remove `utils/spider.py` and any related documentation, tests, and such.

[2017-10-05 11:12] gsnedders commented on #138
I'm pretty sure it is safe with the possible proviso of very old Android WebView, but I never sat down and figured this out. Validity is irrelevant for the sanitiser; we allow tons of invalid stuff.

[2017-10-05 11:14] gsnedders commented on #273
It was a code analysis tool, http://landscape.io, except far too noisy and random. We should just have what we care enabled in Travis CI. I've disabled it now.

[2017-10-05 11:14] #273 closed

[2017-10-05 11:16] gsnedders commented on #268
IIRC the vague unwritten policy had been to have end-user significant changes in CHANGES rather than everything, though maybe it's just too hard to judge significance.

[2017-10-05 17:06] willkg commented on #268
Ok. I think that's a maintainer-job and not something we want to push on contributors unless we can figure out a way to explain it such that they're likely to succeed.

Given that, I'm going to close this out.

[2017-10-05 17:06] #268 closed

[2017-10-16 12:21] willkg opened #351 "setuptools breaking Python 3.4 tests"
We're having problems where Python 3.4 environments are failing tox in CI. The gist of the problem is outlined here:

https://github.com/pypa/setuptools/issues/951

We need to fix this so we can merge pull requests again.

[2017-10-18 15:16] hugovk commented on #330
Here's the pip installs from PyPI for the last month:
[code]

(3.3 also went EOL last month)

[2017-10-24 02:20] jdufresne commented on #351
Fixed in #333

[2017-10-25 10:33] #351 closed

[2017-10-31 18:11] #349 closed

[2017-10-31 18:36] willkg commented on #349
@jgraham Thank you!

[2017-10-31 20:55] willkg opened #354 "support uppercase hex characters in css color check"
This covers adding support for uppercase hex characters in the css color check regex.

From #287:

[2017-10-31 21:26] willkg commented on #92
If someone needs this, please submit a PR.

[2017-10-31 21:30] willkg commented on #193
If I can get either a failing test or an example to use, that'd be great. A PR would be great, too.

Until then, I'm taking this out of the 1.0 milestone.

[2017-11-06 20:07] willkg commented on #330
Sure seems like we can drop support for Python 2.6 now. Less is better. I'll do up a rough PR for it today.

[2017-11-06 20:47] hugovk commented on #330
Any thoughts on dropping EOL Python 3.3 as well? Not as big wins to be had compared with dropping 2.6, but it's barely used.

[2017-11-06 20:52] willkg commented on #330
@hugovk I don't have an issue for that in the issue tracker, so I haven't been thinking about it. If you want, write up an issue and we can work from there.

[2017-11-06 21:04] #339 closed

[2017-11-06 21:10] hugovk opened #357 "Drop Python 3.3 support"
Is there any interest in dropping support for EOL Python 3.3?

Here's the pip installs from PyPI for the last month, showing low demand for 3.3:
[code]

* Unsupported since [2017-09-29](https://en.wikipedia.org/wiki/CPython#Version_history)
* pip 10 will deprecate Python 3.3 support, pip 11 won't support it (https://github.com/pypa/pip/issues/3796)
* Very little PyPI traffic (June 2016) https://gi

[2017-11-07 03:05] willkg commented on #357
Thank you for writing this up with all the relevant links and information--that helps a ton! I'm game for dropping support for Python 3.3. I'll add it to the 1.0 milestone.

If someone has a compelling reason not to drop Python 3.3, please add a comment.

[2017-11-07 18:12] gsnedders commented on #357
Historically the viewpoint I've taken is given we're vendored into pip we should support the same set of versions as pip does (to avoid any need for pip to fork html5lib).

[2017-11-07 18:13] #330 closed

[2017-11-07 18:38] willkg commented on #357
Wow--I had no idea html5lib-python was vendored in pip. That's... interesting.

@gsnedders How do we figure out what versions of pip are supported? Are we just checking their current release to see what versions of Python it supports? For example, master tip still supports Python 3.3:

https://github.com/pypa/pip/blob/3998df351853c68274802502fead7607c8ab8eeb/setup.py#L54

[2017-11-07 21:15] hugovk commented on #357
I think it makes sense for pip to vendor things, it needs to be able to install from a download with maybe no external net access except an internal PyPI server.

Here's the pip decision and PR to deprecate 3.3 in the next pip 10 and drop it in pip 11.
https://github.com/pypa/pip/issues/3796
https://github.com/pypa/pip/pull/4355

Their latest stable docs say 2.6, 2.7, 3.3-3.5, pypy.
https://pip.py

[2017-11-07 21:28] gsnedders commented on #357
@willkg mostly @dstufft pinging me (or me him) when they drop stuff :)

[2017-11-07 21:29] willkg commented on #357
That makes sense!

Seems like we shouldn't drop support for 3.3 in html5lib-python 1.0. Beyond that, I'll leave this until you get pinged and we can drop it.

[2017-11-08 19:43] gsnedders commented on #92
We have a problem with the tests for this that they currently don't agree whether they're testing the eventual encoding (including potentially with the tokenizer changing the encoding while parsing, after the pre-parse).

See https://github.com/html5lib/html5lib-tests/issues/28 for that.

[2017-11-09 18:41] willkg commented on #313
This was fixed in #332, so we're all set here. Thank you for reporting!

[2017-11-09 18:41] #313 closed

[2017-11-09 18:45] willkg commented on #289
This was fixed at some point, but I'm not sure offhand when. The example in the latest docs is correct now. Closing this out.

Thank you for reporting!

[2017-11-09 18:45] #289 closed

[2017-11-09 18:55] willkg commented on #194
I think this bug is fixed now, but if there are still outstanding things in this bug, please add a comment about what still needs to be done.

Thank you for reporting!

[2017-11-09 18:55] #194 closed

[2017-11-09 18:58] jvanasco commented on #194
thanks for finding/merging my old PR!

[2017-11-09 19:05] willkg commented on #182
I think there are three things left to do here:

1. Update `html5lib/tests/README` to talk about pytest and not notes.
2. Move tokenizer and serialiser tests over to generating test objects from the JSON files.
3. Refactor support.py.

I can do the 1. I need more details on what 2 and 3 entail. Part of me thinks we should split 2 and 3 into separate issues.

@gsnedders Is that ok with you?

[2017-11-09 20:34] Engineero commented on #282
According to [PEP 440: Version Epochs](https://www.python.org/dev/peps/pep-0440/#version-epochs), the current standard provides the epoch option for, for instance, changing the version numbering scheme in a way that would normally break version parsing. If you prefer to avoid version 1.0, use an epoch!

0.999999999 -> 1!0.9.0

From then on, versions are 1!0.9.1, then 1!0.9.2, ... until 1!0.9.10 an

[2017-11-09 20:37] graingert commented on #282
@Engineero ah yes but html5lib do eventually intend to release v1. Plain v1 no epoch

[2017-11-09 20:38] graingert commented on #282
@meawoppl my fork is called html5. no python and no lib. Only python libs exist on pypi, no point in including redundant info in the package name!

[2017-11-09 23:37] gsnedders commented on #182
@willkg lgtm

[2017-11-10 01:10] Engineero commented on #282
@graingert yes, eventually. They've been "eventually" intending to do that since 2013, and that is how we got here in the first place. They should fix it now, not hold off because 1.0 will be here "eventually".

[2017-11-10 01:14] willkg commented on #282
@Engineero I'd love help working through the 1.0 milestone! Please help in any way you can.

[2017-11-10 12:27] Chronial commented on #336
This should already be fixed and is basically a duplicate of #301.

[2017-11-10 14:36] willkg commented on #336
@Chronial Awesome--thanks!

[2017-11-10 14:36] #336 closed

[2017-11-10 21:08] willkg commented on #96
I've got part of a PR done. As I understand it, we need to replace bad characters as follows:

1. in elements -> "Uxxxx"
2. in attribute names -> "Uxxxx"
3. in attribute values -> "\uFFFD"
4. in characters -> "\uFFFD"
5. in comments -> "\uFFFD"

The code for doing this should be in `html5lib/_ihatexml:InfosetFilter`.

After that, the following should all work:

[code]

You can run that through `py

[2017-11-10 21:35] SimonSapin commented on #96
@willk That looks correct, except that `U` + hexadecimal should be zero-padded to six digits according to https://html.spec.whatwg.org/multipage/parsing.html#coercing-an-html-dom-into-an-infoset, for example `foo<bar` to `fooU00003Cbar`.

[2017-11-10 21:53] willkg commented on #96
Ok--so the fixed version of the doctest looks like this:

[code]

For some reason, when I run that, the element item doesn't pass. Looks like something is converting `U000001` back to `\x001` after `InfosetFilter` has fixed things. Here's the output I'm getting:

[code]

I'll have to look into that more.

[2017-11-11 16:54] willkg commented on #96
Aha! In `InfosetFilter.fromXmlName`, it runs the element name through `replacementRegexp` which converts the `U00001` to `\x001`.

https://github.com/html5lib/html5lib-python/blob/85bc5fad204402c17811843a73f7f03cde5f4807/html5lib/_ihatexml.py#L278

Assuming that's correct, then we should be running attribute names through `fromXmlName`, too. So then we end up with this:

[code]

@gsnedders I'm a b

[2017-11-13 02:45] gsnedders commented on #96
So there are many more complex cases, primarily those outside of the BMP, especially once you start worrying about narrow/wide Python builds.

There's also the big difference between XML 1.0 4th Edition and 5th Edition, which depending on version of `libxml2` that `lxml` is linked against (or compiled against? not sure which), described in E9 of https://www.w3.org/XML/xml-V10-4e-errata#E09 (IMO, t

[2017-11-13 03:13] gsnedders commented on #96
I'm trying to take another stab at this right now, fixing this generally.

[2017-11-13 04:11] willkg commented on #96
@gsnedders If it helps, I threw my wip in a branch here: https://github.com/willkg/html5lib-python/tree/96-control-characters

[2017-11-21 16:06] willkg commented on #125
I took the related PR out of the 1.0 milestone and forgot to take the issue out, too.

[2017-11-21 16:08] #329 closed

[2017-11-21 16:41] willkg commented on #282
@Engineero @graingert @meawoppl @nils-werner @adamchainz and everyone else who's felt commented in this issue, I really could use some help getting 1.0 out.

You all feel strongly about a 1.0 release and you've taken the time to let your voice be heard as such and mentioned forks and other things, so I know you've got a vested interest in helping to make it happen. I appreciate it's been frustrati

[2017-11-21 16:48] graingert commented on #282
@willkg you should create an opencollective account for html5lib

[2017-11-21 16:57] willkg opened #361 "html5lib-python development needs funding"
This project is big enough and critical enough that it needs funded maintainers.

As suggested in https://github.com/html5lib/html5lib-python/issues/282#issuecomment-346088303

Other ideas?

Who works for a company that will sponsor html5lib-python development?

[2017-11-21 16:58] willkg commented on #282
@graingert I created issue #361 about that. Let's keep this issue about fixing the version number problem which necessitates 1.0 being finished.

[2017-11-21 17:10] hugovk commented on #282
Here's a handy link to the 1.0 milestone:
https://github.com/html5lib/html5lib-python/milestone/1

Stats from 17th October show html5lib was downloaded 9 513 541 times from PyPI in the preceding 365 days.

[2017-11-21 17:22] gsnedders commented on #361
Last I knew things were a bit painful with most of the US-based sites and non-US contributors drawing from them. (And things generally get pretty horribly mirky for me with UK tax rules.)

[2017-11-21 20:40] Engineero commented on #282
@willkg I will see what I can do! If nothing else, I'm one of those weirdos who likes making sure code is documented.

[2017-11-23 10:07] jayvdb commented on #361
Maybe you want to try https://codesponsor.io/

[2017-11-27 14:45] willkg commented on #226
Bumping this out of 1.0. It'd be great to get more explanation here for someone to work on in the future.

[2017-11-27 14:47] willkg commented on #208
As an update, this still occurs with master tip:

[code]

However, I'm going to bump it out of the 1.0 milestone because as far as I can tell, there's no progress on fixing this.

[2017-11-27 14:48] willkg commented on #114
It'd be great if someone could add a test case for this or a code example or something.

I'm going to bump this out of 1.0 because there's been no progress on this.

[2017-11-27 14:50] willkg commented on #111
I'm going to bump this out of the 1.0 milestone because there's been no progress on this (other than the test case which is nice).

[2017-11-27 14:51] willkg commented on #96
I'm going to bump this out of the 1.0 milestone.

@gsnedders If you can get to this before December 1st, I'm game for re-adding it.

[2017-11-27 14:52] willkg commented on #56
I'm not seeing any progress on this, so I'm going to bump it out of the 1.0 milestone.

[2017-11-27 14:53] willkg commented on #344
There hasn't been any progress on this that I can see, so I'm bumping it out of the 1.0 milestone.

[2017-11-27 15:29] willkg opened #367 "move tokenizer and serialiser tests over to generating test objects from the JSON files"
From #182.

The serializer tests seem to be in `html5lib/tests/test_serializer.py`.

[2017-11-27 15:30] willkg commented on #367
@gsnedders The tokenizer tests look like they're in `html5lib/tests/testdata/tokenizer/` already. Are there other tests you wanted to move over?

[2017-11-27 15:31] willkg opened #368 "refactor support.py"
From #182.

I don't know what needs to be refactored. @gsnedders would need to provide more guidance as to what needs to be done here.

[2017-11-27 15:32] willkg commented on #182
I split 2 and 3 into separate issues and did a PR to remove that one bit about nose in the tests README. After that PR lands, I'll close this out.

[2017-11-27 16:12] willkg commented on #307
I think the punch list is something like this:

1. Go through the `README` and `docs/movingparts.rst` and verifying examples work and cover only publicly supported API bits
2. Figure out why treebuilders is listed twice in subpackages with different things in it
3. Go through `html5lib.constants` and document publicly supported API bits
4. Go through `html5lib.html5parser` and document publicly su

[2017-11-28 20:28] gsnedders commented on #368
It's a bit of a mess, really, mostly because of the various disjoined things in it. I don't really know what the better structure looks like. I just don't really like it. :)

[2017-11-28 20:29] gsnedders commented on #367
Yeah, tokenisers have been done. Basically everything using the `testdata` files should be using the same structure with subclasses of `pytest.Item`.

[2017-11-28 22:35] gsnedders opened #370 "Drop six 1.9 support"
The version of `pytest` on Travis's 3.6 environment seems to rely on `six>=1.10` so our `six==1.9` test config fails. See, e.g., https://travis-ci.org/html5lib/html5lib-python/jobs/308631931

Given 1.10 is now over two years old, I'd hope we can drop support for 1.9, and fix this by just bumping our min required version to 1.10.

[2017-11-28 22:36] gsnedders commented on #370
(see #301, #298 for the 1.9 requirement)

[2017-11-28 22:48] willkg commented on #370
I wonder if this isn't related to Travis, but rather that we don't specify which version of pytest to install and use:

https://github.com/html5lib/html5lib-python/blob/master/requirements-test.txt#L4

I forget if that file affects what gets installed, but can look into it in a couple of hours or tomorrow.

[2017-11-29 00:10] willkg commented on #347
Tossing this in the 1.0 milestone. Hopefully someone can get to this in the next couple of days.

[2017-11-29 00:11] willkg commented on #367
Adjusted the title accordingly. Thanks, @gsnedders !

[2017-11-29 00:13] willkg commented on #354
Tossing this in the 1.0 milestone. It might be easy to fix.

The CSS regex check is here:

https://github.com/html5lib/html5lib-python/blob/32713a572324414a8692c8342eaa67f8b6f947d0/html5lib/filters/sanitizer.py#L838

[2017-11-29 00:14] willkg opened #371 "make html5lib.constants.ReparseException private"
The ReparseException isn't intended to be used by anyone else--it's for internal use only. Given that, the name should start with a `_`.

This issue covers changing that and any code that uses it.

[2017-11-29 00:15] willkg commented on #371
Pretty sure this is a straight-forward change someone could make for 1.0.

[2017-11-29 00:17] willkg commented on #315
I don't know how to reproduce this and the author isn't replying, so I'm going to close this out. If it's an issue other people are hitting, someone will comment and/or write up a new one.

[2017-11-29 00:17] #315 closed

[2017-11-29 14:59] willkg commented on #182
PR #366 landed and the other two things were spun off as separate issues, so everything outstanding is covered elsewhere now. Closing this out.

[2017-11-29 14:59] #182 closed

[2017-11-29 15:35] #371 closed

[2017-11-30 15:30] willkg commented on #282
Today is November 30th. I was hoping to have 1.0 out the door today, but it's not going to happen. Will we get it out the door next week? That's on you.

In the last 9 days, I've gotten some help landing things from @gsnedders, @hugovk, and @jayvdb. Thank you! I really appreciate it!

I've gotten promises of help from other people, but none of that has materialized. We're all busy--I get that--but

[2017-11-30 15:52] hugovk commented on #354
I'll take this.

[2017-11-30 16:54] phillyc commented on #282
@willkg First off, thank you so so much for stepping up to tackle this problem. I appreciate it more than I can express.

Secondly, I'd like to apologize for the initial negativity I expressed when I opened the issue. I considered editing it, but I want it to stand as is to remind me to be humble and kind when using other's software. No, I'm not in trouble with anyone. Nobody is forcing me to apol

[2017-11-30 17:58] #354 closed

[2017-11-30 20:50] #347 closed

[2017-12-01 02:21] willkg opened #381 "readthedocs isn't tracking master"
One of the versions of html5lib-python that readthedocs has is "latest" and it's supposed to track the master branch. Any time we land code, it should rebuild the docs.

It looks like the last time "latest" was rebuilt was 3 weeks ago:

https://readthedocs.org/projects/html5lib/builds/

Is the webhook broken?

This issue covers fixing docs building.

[2017-12-03 14:42] willkg commented on #381
@gsnedders Can you either look into this or make me an admin for html5lib-python so I can look into it?

[2017-12-03 14:44] willkg opened #382 "update CHANGES.rst and AUTHORS.rst for 1.0 release"
The `CHANGES.rst` and `AUTHORS.rst` files need to be updated for the 1.0 release.

[2017-12-03 20:01] hugovk commented on #382
Here's a list of commits since last release to help with updating CHANGES.rst.

https://github.com/html5lib/html5lib-python/compare/0.999999999...master

[2017-12-03 22:40] gsnedders commented on #381
Hopefully is now.

[2017-12-04 01:53] willkg commented on #381
It's definitely up-to-date now. I'll keep an eye on it and reopen this issue if it's not updating.

Thank you!

[2017-12-04 01:53] #381 closed

[2017-12-04 06:39] hugovk commented on #382
And here's a list of merges to master since 0.999999999:

69152dc Geoffrey.. 8 hours ago     Merge pull request #374 from willkg/307-html5parser
af35626 Will Kah.. 3 days ago      Merge pull request #379 from mvasilkov/patch-1
c4a85fc Will Kah.. 4 days ago      Merge pull request #377 from hugovk/upper-hex-in-css-colour
d595d0a Will Kah.. 5 days ago      Merge pull request #373 from willkg/371-rep

[2017-12-04 06:49] hugovk commented on #382
That git command misses some.

This is a better list, 2016-07-15 was last release date:

https://github.com/html5lib/html5lib-python/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Amerged+created%3A%3E%3D2016-07-15

[2017-12-04 22:24] #382 closed

[2017-12-05 21:28] willkg commented on #307
The work here finished except for any post-review work to do. Just waiting on @gsnedders to review PR #386.

[2017-12-06 00:11] #307 closed

[2017-12-07 13:57] gsnedders commented on #328
With a huge thanks to @willkg for making everything happen, 1.0 is now on PyPI.

[2017-12-07 13:57] #328 closed

[2017-12-07 13:57] gsnedders commented on #282
With a huge thanks to @willkg for making everything happen, 1.0 is now on PyPI.

[2017-12-07 13:57] #282 closed

[2017-12-07 13:59] graingert commented on #282
Amazing

[2017-12-07 14:21] willkg commented on #282
Thank you to everyone who helped out! @gsnedders, @hugovk, @jayvdb, @jvanasco, and others!

Where do we go from here?

Work on #361 could improve maintenance activity and get some of the larger issues fixed. If you or your company depends on html5lib-python, seriously consider sponsoring development through donating money or donating your time.

Libraries that depend on html5lib-python should get

[2018-01-19 12:07] mumtaztm commented on #335
just write the following command on Anaconda prompt
conda install --force html5lib

its the simple solution

[2018-02-13 04:36] tgrrr opened #390 "TypeError: __init__() got an unexpected keyword argument 'encoding'"
`html5lib.version is 1.0.1` produces the error

[code]
Solution is to downgrade:`pip3 install -U html5lib=="0.9999999"`

It's a problem on SO [here](https://stackoverflow.com/q/46499808/3281978): and [here](https://stackoverflow.com/q/46499808/3281978)

It looks like it was referenced [as another issue but was closed](https://github.com/html5lib/html5lib-python/issues/281
)

Is it possible to fix

[2018-03-07 05:26] knkski opened #392 "Incorrect table parsing"
I've got an HTML document that contains some text inside of a table row:

[code]

It looks like the text gets pulled outside of the table element for some reason (not sure how to print it with normal HTML-style syntax, but you can still see that `foo` has been moved):

[code]

This is despite the example parsing correctly when using just `xml.etree`:

[code]

This doesn't happen with other element

[2018-03-07 09:51] gsnedders commented on #392
This is what the HTML spec says, and this is what browsers do. (This is called "foster parenting" in the spec, if you're curious.)

[2018-03-07 09:51] #392 closed

[2018-03-07 18:50] gsnedders commented on #392
Ah, right, that's us still not having implemented `template` yet, which is part of #56.

[2018-05-02 07:46] begueradj commented on #74
5 years later, I confirm this bug is not fixed.

[2018-05-15 13:18] whyboris commented on #361
I think this may be a great place: https://opencollective.com/

[2018-05-18 20:03] kevinmarks commented on #330
Dropping support for an old version of python for no good reason and actually changing code to break it on purpose is a hostile act, not good code maintenance.

[2018-05-23 09:50] #357 closed

[2018-06-04 01:02] ntucker opened #394 "ValueError: too many values to unpack"
I get this error:
[code]

When running this code:
[code]

With this content:
[code]

[2018-06-23 18:22] zcorpan opened #398 "Allow specifying custom "block" elements that parse like <address>"
See https://github.com/tabatkins/bikeshed/issues/1288

[2018-06-23 19:11] gsnedders commented on #398
Is this any precedent for this in any other HTML parser?

[2018-06-23 20:02] zcorpan commented on #398
Tidy has this.

https://github.com/htacg/tidy-html5/blob/9b076d0eca0ff75817a178ccbda91a0495eeb752/src/language_en.h#L147

[2018-08-08 09:42] mirh commented on #390
Bump

[2018-08-08 13:35] willkg commented on #390
I don't see any evidence this is a problem with html5lib. Seems like this is a problem with whatever you're using that uses html5lib. There's no traceback in this issue, so it's hard to tell. The issues referenced are all issues with other software.

There aren't any specifics in this issues, so I can't be very helpful. Generally, upgrade the things you're using and make sure they either support r

[2018-08-08 13:35] #390 closed

[2018-09-03 13:00] tushuhei opened #399 "ARIA related attributes are dropped by sanitizer"
When I serialize a HTML document including elements with ARIA related attributes, `serialize` method drops them off as a result of sanitization.

[code]

ARIA related attributes are not dangerous for my understanding, so `serialize` method should keep them even if the parameter `sanitize` is `True`.

[2018-09-21 08:04] tirkarthi opened #402 "DeprecationWarning in collections import"
Installing html5lib on CPython master generates the below warning. I think this was added as part of Python 3.7 and will be removed in the next version 3.8 which is under development. Just wanted to give a heads up on this.

[code]

Relevant code : https://github.com/html5lib/html5lib-python/blob/950ea0ec60970ba1c88bd9e35d8d85c2a1f318e4/html5lib/_trie/_base.py#L3

Possible solution : https://githu

[2018-10-01 11:32] #402 closed

[2018-10-10 13:27] dizlv commented on #394
Documentation says that attrs keys are namespaced `<a>` attributes. Managed to fix this with `(None, 'rel')` and `(None, 'target')`

[2018-10-12 21:53] labrys opened #405 "Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated"
It will stop working in Python 3.8.

[2018-10-30 16:24] grking8 opened #406 "Beautiful soup + html5lib - AttributeError: 'NoneType' object has no attribute 'next_element'"
(not sure if this is an `html5lib` or `bs4` issue, but any help appreciated)

`NoneType` error when using `html5lib` with beautiful soup but when using `lxml` no error

[code]

[code]

but using `lxml` instead of `html5lib`

[code]

[code]

here is `test1.html`

[code]

[2018-10-30 19:09] gsnedders commented on #406
BS4 bug, almost certainly.

[2018-10-30 19:09] #406 closed

[2018-12-13 14:15] willkg opened #407 "tokenizer creates invalid " attribute"
If there's an unclosed ", then the tokenizer will toss that in as an attribute name. Here's an example:

[code]

With html5lib 1.0.1 in Python 2.7, that prints out:

[code]

That first attribute has a name of " and a value of "".

I'm pretty sure the problem is in the tokenizer in one of the attribute-related states, but that's as far as I've looked.

First question: Am I confused and that actuall

[2018-12-14 21:15] gsnedders commented on #407
https://html.spec.whatwg.org/multipage/#before-attribute-name-state and then the attribute name state allow this (albeit with an unexpected-character-in-attribute-name parse error). In that specific case, you'll also get a missing-whitespace-between-attributes parse error due to the lack of whitespace after the previous attribute.

So this behaviour looks like the expected behaviour to me? The ser

[2018-12-14 21:15] #407 closed

[2018-12-20 08:05] serhiy-storchaka commented on #405
This is a blocker for CPython: https://github.com/python/cpython/pull/10596.

[2018-12-22 21:16] labrys commented on #405
@tirkarthi Not a duplicate as the issue still exists.
`from collections import ...` is still used in the following locations:
- `html5lib._tokenizer`
- `html5lib.html5parser`
- `html5lib.filters.alphabeticalattributes`
- `html5lib.tests.test_alphabeticalattributes`
- `html5lib.treewalkers.etree`

[2018-12-22 21:30] labrys commented on #405
@tirkarthi you are correct... closing this

[2018-12-22 21:30] #405 closed

[2019-01-06 15:14] ewwink commented on #361
it better to put on the front page that this project need sponsor.

[2019-02-05 13:43] megdadmd opened #410 "ValueError: All strings must be XML compatible:"
Hi,
How can i handle Ellipsis in Python? As you can see in my code, when i use (Next…), i got an error.

next_page= response.xpath('//a[text()="Next…"]').extract_first()

Thanks for suggestions.

[2019-02-06 15:54] insysion commented on #410
try `next_page= response.xpath('//a[text()="Next\u2026"]').extract_first()`

[2019-02-14 08:55] FRidh opened #411 "Support pytest 4"
I suppose the test suite is not pytest 4.2 compatible.

[code]

[2019-03-10 10:08] hugovk commented on #361
Tidelift says:

https://tidelift.com/lifter/search/pypi/html5lib

![image](https://user-images.githubusercontent.com/1324225/54083513-0cde5f00-432d-11e9-8226-b1ce0493d4a3.png)

[2019-03-10 10:17] hugovk commented on #328
The 1.0 milestone may be closed now:

* https://github.com/html5lib/html5lib-python/milestone/1

[2019-03-14 21:23] hugovk commented on #361
The Linux Foundation has launched CommunityBridge to help with funding, security and mentoring.

* https://devclass.com/2019/03/14/linux-foundation-offers-devs-and-project-maintainers-help-with-money-mentoring-and-security/
* https://communitybridge.org/

[2019-03-28 00:22] hroncok commented on #411
Some deprecation warnings from before:

[code]

[2019-03-28 00:30] hroncok commented on #411
I'll try to submit a PR.

[2019-04-17 12:43] icemac commented on #361
Currently Tidelift says:

https://tidelift.com/lifter/search/pypi/html5lib

So you can start grabbing the income, aka become a lifter.

![Bildschirmfoto 2019-04-17 um 14 41 22](https://user-images.githubusercontent.com/386619/56288387-fe027d80-611e-11e9-9361-649338613030.png)

[2019-05-18 02:41] pganssle opened #419 "New release on PyPI?"
Since this library is vendored by `pip`, which is itself vendored in CPython's `ensurepip` module, the fact that there's no release that includes PR #403 is blocking the removal of the deprecated abstract base classes from the `collections` module, long advertised as happening in Python 3.8, see https://github.com/python/cpython/pull/10596

Normally I am the last person to ask for releases (I assu

[2019-06-05 02:59] twm commented on #361
Who would actually be the maintainer if there were funding available? Are any of the current maintainers seeking funding?

[2019-06-06 21:34] gsnedders commented on #361
@twm As of next month I should have the time to actually work on html5lib, provided I'm paid for it.

[2019-06-14 04:42] phated commented on #361
We'd love to have one or more maintainer join Tidelift to receive funding for html5lib!!  Are there any questions I could answer for you?

[2019-06-17 20:54] vstinner commented on #419
This issue prevents to remove ABC aliases from the collections module in Python 3.9: https://bugs.python.org/issue37324

[2019-06-18 03:40] tirkarthi commented on #361
GitHub now provides a sponsor button that can be linked to tidelift?

GitHub blog post : https://github.blog/2019-05-23-announcing-github-sponsors-a-new-way-to-contribute-to-open-source/
https://tidelift.com/subscription/how-to-connect-tidelift-with-github

[2019-07-01 20:02] jvanasco opened #422 "feature: HTMLSerializer - custom fallback for `.serialize`"
`HTMLSerializer.serialize` has a chained if/else that ends with this:

            else:
                self.serializeError(token["data"])

I propose supporting a custom fallback method that would allow subclasses to invoke the benefit of this serializer's method to deal with unknown/custom token types.  this would allow custom parsers/tree-adapters the ability to override how something is render

[2019-10-17 19:29] justinmayer commented on #419
Now that Python 3.8 has been released, I imagine the urgency for releasing a new version to PyPI has become somewhat elevated.

As a side note, this tendency for package releases to lag behind master is one that I have personally encountered dozens of times... including when the fault is entirely my own, in projects that I maintain! It's a shame because it means there are features and bug fixes in

[2019-10-26 14:01] openandclose opened #427 "_inputstream.EncodingParser fails to parse short bogus comments (prescan)"
I think `abrupt-closing-of-empty-comment` (`''`)
should be treated as normal comments in prescan as well.

for `'<!-->'`, the spec states rather explicitly.

    The two 0x2D bytes can be the same as those in the '<!--' sequence.'

prescan:
https://html.spec.whatwg.org/multipage/parsing.html#prescan-a-byte-stream-to-determine-its-encoding
abrupt-closing-of-empty-comment:
https://html.spec.whatwg.o

[2019-11-08 07:59] vstinner commented on #419
https://bugs.python.org/issue37324 has been fixed: collections ABC aliases have been removed from Python 3.9. As a consequence, html5lib is no longer compatible with Python 3.9.

How can we help you to get a new release?

[2019-11-08 07:59] vstinner commented on #419
The issue broke pyperformance benchmark suite which has a benchmark on html5lib:
https://bugs.python.org/issue38739

[2019-11-08 11:50] hugovk commented on #419
I've reviewed some PRs and left some comments on others, and made https://github.com/html5lib/html5lib-python/pull/430 which should help make releasing easier.

(Although I've just realised this is similar to Justin's suggestion so don't mean to step on any toes! https://github.com/html5lib/html5lib-python/issues/419#issuecomment-543326286)

Also, perhaps a transfer to JazzBand or the PSF may help

[2019-12-13 16:14] nekokatt commented on #419
The collections issue outlined by @vstinner currently is causing tools such as poetry for dependency management to not be able to be used on Python3.9 as per https://github.com/python-poetry/poetry/issues/1733, which will block many projects from being able to maintain support for newer python versions unless an alternative to HTML5LIB can be found currently, which would be most unfortunate...

[2019-12-17 09:39] vstinner commented on #419
I contacted @jgraham and @gsnedders by email to see how I can help them to publish a new release.

[2020-01-05 16:34] domenic commented on #427
Confirmed the spec says to treat them as comments.

[2020-01-13 04:58] awilfox opened #433 "AssertionError: 'iso-8859-2' == 'windows-1252' during encoding test"
Python 3.6.9 on Linux kernel 5.4.5 with musl libc 1.2.0.

[code]

[2020-01-16 16:14] openandclose opened #434 "Fix prescan bug: content attribute, second charset"
[code]

A content attribute parser should discard invalid 'charset' string and search next one.

While `html5lib._inputstream.EncodingParser` returns: 'None'.

[2020-01-16 16:15] openandclose opened #435 "Fix prescan bug: double open meta tag ('<<meta')"
[code]

According to the spec, the first '<' is `Any other byte`,
skipping to the next.

While `html5lib._inputstream.EncodingParser` returns: 'None'.

[2020-01-16 16:18] openandclose opened #436 "Fix prescan bug: open end tag and alpha ('</' + alpha)"
[code]

When reading '</x', A prescan parser should jump to space (' ') after 'meta', ignoring '<'.

While `html5lib._inputstream.EncodingParser` returns: 'iso-8859-2'.

[2020-01-16 16:19] openandclose opened #437 "Fix prescan bug: Second and invalid http-equiv"
[code]

The spec uses `attribute list`, to keep track of parsed attribute names,
discarding duplicates.

While `html5lib._inputstream.EncodingParser` returns: 'iso-8859-2'.

[2020-01-23 10:14] openandclose commented on #433
Not directly related,
but is the test data itseif right, spec-wise?

 Firefox and Chrome think differently

[code]
Firefox: UTF-8
Chrome:  windows-1252

For comparison:
[code]
Firefox: ISO-8859-2
Chrome:  windows-1252

(Firefox 72.0, Chromium 79.0.3945.117, document.characterSet in web consle)

[2020-01-28 06:34] dimaqq commented on #419
@vstinner did you hear back from @jgraham or @gsnedders perhaps?

Otherwise, if all what's needed is to fork a repo and publish under a different `pypi` name, then that should not be a big problem :)

[2020-01-28 07:38] vstinner commented on #419
No.

There is a process to request to get the ownership of an existing PyPI name: see https://www.python.org/dev/peps/pep-0541/#abstract

[2020-02-24 05:53] frenzymadness commented on #419
html5lib is also bundled in [bleach](https://github.com/mozilla/bleach)

[2020-02-24 14:13] hugovk commented on #419
@jgraham @gsnedders Thank you both very much for your work on this project!

It's been two years since a release and this project is widely used (2.5m downloads last month according to https://pypistats.org/packages/html5lib!), and it'd be great to keep things ticking over.

I understand if you've moved on and have other interests. Please would you consider giving merge and PyPI rights to one or m

[2020-02-25 08:00] carltongibson commented on #419
Hi @hugovk.

I think at this point it's best to push forward with your fork. I see you've pulled in some the PRs here that are ready. It may be worth commenting on each that that's the case, and perhaps a ticket on the fork to track that progress?

I think beginning the transfer request would be wise. (I don't suppose those are instant.)

Thank you for your effort.

[2020-02-25 15:42] hugovk commented on #419
PEP 0541 requires PyPI maintainers attempt contact at least three times over six weeks: https://www.python.org/dev/peps/pep-0541/#reachability, so I've opened a request at https://github.com/pypa/pypi-support/issues/227. Although it would be preferable to continue things here.

I've commented the PRs here that have been merged into the fork.

Thanks!

[2020-02-25 16:21] carltongibson commented on #419
Hi @hugovk. Super stuff. Thank you again.

**Maybe** it's worth opening a PR from your master branch to back here, so that at least there's the possibility that your effort can be picked up, if a sustainable solution here does turn up. 🤷‍♂️

[2020-02-25 19:28] gsnedders opened #439 "Document Python version support policy"
It's been an intended goal to match a (non-strict) superset of the versions that [pip supports](https://pip.pypa.io/en/stable/installing/#python-and-os-compatibility). We should probably document this somewhere.

[2020-02-25 19:57] gsnedders commented on #419
Hi. I've basically been away from all tech stuff for the past month, and not seen any of the recent discussion.

To summarize, somehow I missed the offer of @jdufresne offering "to help out on a very limited time basis" in the email thread last October and was already on holiday by the time of @vstinner's email in December. Sorry!

Some of my disincentive since last summer has been undergoing a bi

[2020-02-25 20:10] sethmlarson commented on #419
FYI: [Tidelift is willing to pay ~$2,700 / year](https://tidelift.com/lifter/search/pypi/html5lib) for a maintainer of html5lib :)

[2020-02-25 21:16] nekokatt commented on #419
Why would it be a waste of time to drop features that are no longer supported? Or do I misunderstand?

[2020-02-26 00:05] gsnedders commented on #419
Backwards incompatible changes have a cost on the ecosystem as a whole. The question is whether the cost of maintaining those 15 lines of code in CPython is higher than every Python project that uses the deprecated updating to the (new) alternative and then making releases, and therefore providing a blocker to end-users from upgrading their installation of CPython if their scripts don't support it

[2020-02-26 00:10] gsnedders commented on #419
And that is… not much in terms of contractor rates, such as those I charge most of my clients.

Some of my hesitancy in "lifting" that is both in terms of who will do code review (esp. if it's just me and not @jgraham around here), and lack of compensation for anyone doing code review (because really it should be split across anyone not otherwise paid to work on the project!), along with needing t

[2020-02-26 01:53] gsnedders opened #442 "Allow datrie with recent Python / Drop datrie?"
We limit the datrie optional dependency to Python < 3.7, because prior to the 0.8 release it didn't support Python 3.7. Probably, we should either:

 * Require datrie >= 0.8
 * Drop support for datrie (this depends in part of the perf impact of doing so)

[2020-02-26 02:15] gsnedders commented on #193
(I presume this is the sanitizer stripping it)

[2020-02-26 02:21] gsnedders opened #443 "Future of the saniziter"
As it is, [many of the open issues](https://github.com/html5lib/html5lib-python/issues?q=is%3Aopen+is%3Aissue+label%3Asanitizer) relate to the sanitizer and the default set of elements/attributes allowed in it.

I've had occasional discussions with @willkg about whether or not it makes sense to keep on maintaining the sanitizer as part of html5lib, and on the whole my opinion has for a long time b

[2020-02-26 02:29] gsnedders opened #444 "Have something saying what I, as an existing maintainer, think are sane next steps"
Sometime last year I wrote in an email what I thought were the next few things that should happen with html5lib if someone were to more actively maintain it. I should dig this up and do something appropriate with it. (Maybe just dump it in this new issue.)

[2020-02-26 12:12] gsnedders opened #445 "Experiment with Cython"
If we can simplify some of the code slightly, we might be able to get some decent performance increase under CPython from using Cython (note that we almost certainly want to keep our codebase pure Python, so this means using Cython's pure-Python mode). It's probably at least worth experimenting here.

At least for `html5parser`, making decent progress is blocked on #272, and relatedly making `html

[2020-02-26 13:37] hugovk commented on #442
Please see PR #446 to require datrie 0.8+ to support Python 3.7.

But datrie doesn't yet support Python 3.8: pytries/datrie#73.

[2020-02-26 14:36] hugovk commented on #370
Whatever the cause, this is no longer happening, the 3.6 env is passing on Travis (and all of them: 2.7, 3.5-3.8, PyPy and PyPy3).

Latest master build:

* https://travis-ci.org/html5lib/html5lib-python/builds/655163448

Can this issue now be closed?

---

In case you do want to bump to six 1.10, here's a passing branch I can PR:

* https://travis-ci.org/hugovk/html5lib-python/builds/655374557

(A

[2020-02-26 14:55] gsnedders commented on #445
#24 is the other part that would be significant here, I think.

[2020-02-26 14:55] gsnedders commented on #444
I think #445 is the only thing which doesn't already have an open issue, so… let's close this already!

[2020-02-26 14:55] #444 closed

[2020-02-26 14:57] gsnedders commented on #442
Ergh, yeah, okay, should just take a look at the perf impact of just dropping support.

[2020-02-26 14:58] #439 closed

[2020-02-26 15:09] pyup-bot opened #448 "Initial Update"
The bot created this issue to inform you that pyup.io has been set up on this repo.
Once you have closed it, the bot will open pull requests for updates as soon as they are available.

[2020-02-26 15:19] #448 closed

[2020-02-26 15:39] gsnedders opened #450 "Test on narrow ("UCS2") Python 2.7"
As long as we support Python 2.7, we need to deal with the narrow/wide unicode build difference. We're probably back to being broken on narrow builds, given AFAIK we haven't tested on such a build in a while…

[2020-02-26 20:35] kloczek opened #451 "1.0.1: trst suite is failing"
[code]

[2020-02-26 21:03] hugovk commented on #451
pytest 4 is not yet supported, see https://github.com/html5lib/html5lib-python/pull/429.

In the meantime, please use pytest 3.2.5.

[2020-02-26 21:39] kloczek commented on #451
Will wait until it will be supported all other packages which I have packaged as rpm have no problems with pytest 4.

[2020-02-26 22:51] #451 closed

[2020-02-29 13:23] gsnedders commented on #442
In a bunch of more ordinary cases the perf impact seems to be approximately nothing. I suggest we just drop support for datrie? I doubt even in the worst case it's going to be significant?

[2020-02-29 14:05] hugovk commented on #442
If keeping it only offers minimal or zero performance benefit, sounds like a good idea to drop, it'll reduce the maintenance burden, as it seems this will happen for every new (now annual) Python release. And we're 4 months since 3.8 came out, and Datrie support is still pending.

[2020-03-02 17:18] vstinner commented on #419
FYI aliases to ABC in collections have been reverted in Python 3.9, but they will be removed again in Python 3.10: https://bugs.python.org/issue39674

But it doesn't solve the lack of new html5lib release ;-)

[2020-03-02 17:19] vstinner commented on #419
The initial issue was collections ABC, but this issue has already been fixed in html5lib master: https://github.com/html5lib/html5lib-python/commit/4f9235752cea29c5a31721440578b430823a1e69

[2020-03-14 11:25] hugovk commented on #419
@gsnedders @jgraham Hi, I created https://test.pypi.org/project/html5lib/ earlier for deploy testing, if you create accounts on TestPyPI, I'll give you the full rights.

[2020-03-26 03:44] tacaswell commented on #442
datries 0.8.2 should support py37 and py38.

[2020-03-26 12:30] openandclose commented on #434
This is the same bug as:
https://github.com/validator/validator/issues/877
https://github.com/jsdom/html-encoding-sniffer/issues/7 (fixed)

[2020-03-26 12:31] openandclose commented on #437
This is the same bug as:
https://github.com/jsdom/html-encoding-sniffer/issues/8 (fixed)

[2020-05-06 18:36] gsnedders opened #488 "lxml doesn't roundtrip comments after </html>"
[code]

[2020-05-06 20:47] davaya opened #489 "User documentation?"
Is there any tutorial documentation for this package?  Something that would answer questions like when parsing an HTML file:

    with open(fname, 'rb') as f:
        doc = html5lib.parse(f)
    for e in list(doc[0]):
        print(e.tag)

Why does the result look like this?

    {http://www.w3.org/1999/xhtml}meta
    {http://www.w3.org/1999/xhtml}title
    {http://www.w3.org/1999/xhtml}link

A na

[2020-05-06 22:16] gsnedders commented on #489
https://html5lib.readthedocs.io/en/latest/ has docs, though it doesn't answer the _why_. https://html5lib.readthedocs.io/en/latest/html5lib.html#html5lib.html5parser.HTMLParser specifically mentions the `namespaceHTMLElements` arg.

The why is quite simple: it's what the HTML spec says (that almost all elements get inserted in the HTML namespace from HTML); you can see browsers do this via `docume

[2020-05-06 22:46] davaya commented on #489
Thanks - creating a parser object explicitly with the proper args gives the desired results.  New users reading the overview might benefit from some rationale (pros and cons) for choosing a particular tree type, and a note pointing out that namespacing is one of the options that can be specified.

It could be argued that new users might not be aware of namespacing and should not get it by default,

[2020-05-07 11:01] lpla commented on #96
In case anyone needs to use @EmilStenstrom code in Python 3, I just ported it:

[code]

[2020-05-07 11:13] EmilStenstrom commented on #96
@lpla Ours have evolved after slowly correcting errors when parsing erroneously encoded text in HTML Mime types. This is the current version we are using, compatible with both pyhton 2 and python 3, and with type hints:

[code]

[2020-05-07 11:30] lpla commented on #96
Any license for this code?

[2020-05-07 11:31] EmilStenstrom commented on #96
I hereby release it as public domain.

[2020-05-08 20:36] davaya opened #490 "Serializer modifies HTML"
Parsing and then writing an HTML file results in corruption - some closing elements are missing, and some string attributes are not output as strings.

    import html5lib

    file_in = 'divlayout.html'
    file_out = 'divlayout_out.html'
    parser = html5lib.HTMLParser(strict=True, namespaceHTMLElements=False)
    with open(file_in, 'rb') as f:
        doc = parser.parse(f)
    out = html5lib.s

[2020-05-09 19:51] #490 closed

[2020-05-09 21:00] gsnedders commented on #490
The serializer has no knowledge of the input serialization of the tree; it purely operates from the tree, so it's long since lost any information about what attributes are quoted, how much whitespace there is between attributes, what optional tags were omitted, etc.

There are a number of options that affect serialization, among them `quote_attr_values` which affects when attributes get quoted and

[2020-05-10 17:07] davaya commented on #490
It may be a matter of taste, but lxml is closer to my taste so I'll use that.  It closes tags, and it serializes entities as entities.

lxml does not record all token info in the parse tree, but there is no reason that it could not retain sufficient information to recreate the input exactly, such as different tokens for double quoted, single quoted, and unquoted strings.   Some whitespace is insig

[2020-05-14 22:31] g-k commented on #443
I'm +1 on removing it or splitting it out.

I don't know if anyone is using it directly, but we could host it in bleach to reduce surface area and prevent things like https://github.com/mozilla/bleach/issues/534

[2020-05-15 15:44] cas-- commented on #394
This is related to Bleach not html5lib. I encountered this after upgrading an old 1.x version of bleach. Looks like this change was introduced in v2.0: https://github.com/mozilla/bleach/commit/313478f17e7107fc659243be4309e6e0c9b86e30

Examples for callbacks are here: https://github.com/mozilla/bleach/blob/master/bleach/callbacks.py

I would suggest closing this issue.

[2020-05-15 22:00] gsnedders commented on #443
Some people are, but really not many. I don't think any are really using it in any way that it doesn't make sense to push people towards Bleach. And that html5lib is, uh, "lightly maintained" becomes doubly-problematic if we have security bugs in the sanitizer like CVE-2020-6817.

[2020-05-16 01:18] #394 closed

[2020-05-18 14:56] rzuckerm commented on #402
When is this change going to be released? I'm still seeing this warning.

[2020-05-19 04:27] gsnedders commented on #442
On the two tests I have that are pretty heavy on entities, we get:

Mean +- std dev: [datrie_without] 293 ms +- 6 ms -> [datrie_with] 291 ms +- 6 ms: 1.01x faster (-1%)
Mean +- std dev: [datrie_without] 104 ms +- 1 ms -> [datrie_with] 104 ms +- 1 ms: 1.01x faster (-1%)

On the whole, despite both tests showing statistically significant perf gains, I think they're small enough they're not worth it?

[2020-05-21 03:55] uranusjr opened #494 "Avoid cElementTree on Python 3"
`cElementTree` has been [deprecated since 3.3](https://docs.python.org/3/library/xml.etree.elementtree.html), and is simply an alias to `ElementTree` right now. It [will be removed in the Python 3.10](https://bugs.python.org/issue36543).

Originally filed as: pypa/pip#8278
See also: python/cpython#19921

[2020-05-22 19:35] gsnedders commented on #494
What prompts the desire to avoid it? Avoiding the PendingDeprecationWarning proposed to be added in python/cpython#19921 but not https://github.com/python/cpython/pull/20117? This this causes warnings with the perfectly sane `try/except ImportError` that's so prevalent and future-proof seems ridiculous.

[2020-05-22 22:29] uranusjr commented on #494
cc-ing @tiran since I do not have the knowledge to answer the question myself.

[2020-05-23 09:22] tiran commented on #494
The removal of cElementTree without a deadline and deprecation warning broke a bunch of packages. I like to re-introduce the module in 3.9 with a warning and remove it in 3.10.

The warning is breaking Python's ensurepip tests. Pip depends on html5lib and html5lib triggers the warning. My patch avoids the warning and keeps the behavior of html5lib. If you want a simpler patch, then just import ``x

[2020-05-27 18:44] thomasrockhu opened #498 "Codecov migration to marketplace app"
Hi, Tom from [Codecov](https://codecov.io) here.

We noticed that you are using Codecov with fairly high frequency, and we’re so excited to see that! However, because you are not using our app, you may have experienced issues with uploading reports or viewing coverage information. This is due to rate-limiting issues from GitHub.

**In order to prevent any future outages, we ask that you move over

[2020-06-07 16:51] #411 closed

[2020-06-09 01:28] #488 closed

[2020-06-09 15:38] mkauschi opened #500 "Forms inside a table is not parsed correctly"
When I am parsing something like this example below, I get a wrong output. I know that the HTML code is not valid but I think html5lib should not make it more invalid like it is now.

[code]

The result is the following:
[code]

Is this intended behaviour?

Thanks for you help!

[2020-06-10 01:31] gsnedders commented on #500
Yes, this is the intended behaviour (html5lib correctly implements the [the HTML spec](https://html.spec.whatwg.org/multipage/parsing.html#parsing-main-intable) here).

[2020-06-10 01:31] #500 closed

[2020-06-10 02:22] gsnedders commented on #442
#455 dropped datrie.

[2020-06-10 02:22] #442 closed

[2020-06-10 02:27] gsnedders commented on #201
FWIW: my view at this point is adding `escape_gt_in_attrs` is fine, but someone should write a few tests for it (mostly looking at how it combines with `quote_attrs`).

[2020-06-10 02:33] #410 closed

[2020-06-10 02:47] gsnedders commented on #267
We do, and especially with `dict` by ordered from Python 3.7 (and #493 makes us use it then), the cost here is small. I wonder if special-casing only the zero-attribute case is worth the pain it would cause? And hey, we have benchmarks now.

[2020-06-16 19:05] gsnedders commented on #96
At this point, the only Python release we support narrow builds on is 2.7; all versions of Py3 we support are always wide. This, to be fair, makes this a _lot_ easier to fix, so we should probably take a stab at this soon.

[2020-06-16 19:06] gsnedders commented on #419
OK, so status update from what I've done over the past few weeks:

 * We now have support for pytest 4 and 5, which gets rid of one of the most common distro patches.
 * We should land #502 which avoids an import-time DeprecationWarning in 3.10.
 * We should land #501 which documents the sanitiser as being deprecated.
 * And also excitingly, #493 gives pretty significant speed gains when parsing s

[2020-06-16 21:23] EmilStenstrom commented on #419
@gsnedders You are awesome! :)

[2020-06-17 07:33] SimonSapin commented on #96
How do narrow v.s. wide builds affect lxml/libxml2 being peculiar about control characters?

[2020-06-17 18:32] gsnedders commented on #96
@SimonSapin they don't (the string is converted to UTF-8 before being passed to libxml2 IIRC), but they do affect our ability to detect what strings will trigger it (given we can't just iterate through a string and compare the iterable values to the production in XML, either ourselves or with a regex)

[2020-06-17 21:24] #494 closed

[2020-06-18 06:51] gsnedders commented on #498
I've resolved this by disabling Codecov, mostly because I don't think we've got much value out of it in a while (I don't think anyone has paid much attention to it in a while), and that's mostly a critique of code coverage in general rather than the product!

[2020-06-18 06:51] #498 closed

[2020-06-21 08:13] FrankDMartinez commented on #419
@gsnedders The end of the week has come; any word?

[2020-06-22 00:00] gsnedders commented on #419
We've now landed all of the above, I think the changelog has all the potential breakage/notable changes, so… let me try to make a release tomorrow?

[2020-06-22 23:35] gsnedders commented on #419
OK, that's 1.1 shipped. Shout at me if anything is broken (in a new issue, please!).

[2020-06-22 23:35] #419 closed

[2020-06-26 11:48] thomasrockhu commented on #498
No worries @gsnedders I understand. Let me know if you change your mind, or if there's something we can do to make it more valuable to you all.

[2020-06-27 20:46] twm commented on #443
To provide the feedback requested in the release notes&mdash;

I'm currently using html5lib's sanitizer directly. I originally moved to it from Bleach because I needed to be able to chain filters in front of the sanitizer. It looks like Bleach now [exposes its Filter directly](https://bleach.readthedocs.io/en/latest/clean.html#using-bleach-sanitizer-bleachsanitizerfilter) so I may be able to adopt

[2020-07-03 09:32] kloczek commented on #451
Just checked 1.1 and all looks good.

[2020-08-08 10:52] hroncok opened #505 "pytest 6: PytestDeprecationWarning: Direct construction of TokenizerFile has been deprecated, please use TokenizerFile.from_parent."
This is what I get when I run tests with pytest 6.0.1:

[code]

See https://docs.pytest.org/en/stable/deprecations.html#node-construction-changed-to-node-from-parent for more details.

[2020-08-08 11:17] gsnedders commented on #505
To note, https://github.com/pytest-dev/pytest/commit/c99c7d0f95170a5e308ed6c37e63b2d90794a4f9 is the underlying change in PyTest; note that the introduction of `from_parent` was at the same time as the constructor deprecation in PyTest 5.4, and we presently need to continue supporting PyTest < 5 for Python 2.7 support. I suppose we could just fork on `pytest.__version__` when creating the nodes if

[2020-08-08 11:39] hroncok commented on #505
Working on it BTW.

[2020-08-08 11:46] hroncok commented on #505
https://github.com/html5lib/html5lib-python/pull/506

[2020-08-10 03:11] sandrotosi opened #507 "html5lib/1.1: 995 failed failed tests"
Hello,
in Debian we have a process to run [automated tests](https://salsa.debian.org/python-team/modules/html5lib/-/blob/master/debian/tests/unittests3) and that's currently failing for v1.1: you can look at the logs [here](https://ci.debian.net/data/autopkgtest/testing/amd64/h/html5lib/6324026/log.gz) but just to give you an idea of the amount of failures, the summary is: `995 failed, 23076 passe

[2020-08-10 10:53] gsnedders commented on #507
This is, I think, what would happen if it failed to find the expectations file. I wonder if something, somewhere is looking for it relative to the path of `pytest.ini`? If you copy the `.pytest.expect` file as well, do things start passing?

[2020-08-10 13:08] #505 closed

[2020-09-16 00:53] sandrotosi commented on #507
that was exactly it, i was missing to copy also the `.pytest.expect` file; i tested locally and i'm about to upload a fix soon -- thanks!

[2020-09-16 00:53] #507 closed

[2020-09-17 12:54] pllim commented on #443
Hello. This deprecation has come up in our project's CI as such ([full log](https://travis-ci.org/github/astropy/astropy/jobs/727949664)):
[code]
As the traceback says, we are already using Bleach (3.2.0), so how do we get rid of the warning? Thank you.

[2020-10-13 23:54] jvanasco opened #513 "Docs out of date"
In `HTMLParser.__init__`, `tree` is a class:

https://github.com/html5lib/html5lib-python/blob/f4646e6ed4eeb9780f67d2083d0c09c8fffbec53/html5lib/html5parser.py#L93-L97

However the examples in the API docs, which also ends up in the website, uses a string

https://github.com/html5lib/html5lib-python/blob/f4646e6ed4eeb9780f67d2083d0c09c8fffbec53/html5lib/html5parser.py#L105-L109

[2020-10-14 02:37] jvanasco opened #514 "supporting markdown links"
I maintain a package that uses htmllib5 to translate Markdown into HTML (https://github.com/jvanasco/html5lib_to_markdown) alongside our Bleach usage for dealing with user-submitted text.

I thought I had a workaround for some odd behavior between Python2 and Python3, but after encountering some issues migrating the CI tests to tox, I dug into my library and this library... and I realized there wa

[2020-10-14 20:44] natebosch opened #515 "HTMLParser.lastPhase and beforeRCDataPhase are unused fields"
https://github.com/html5lib/html5lib-python/blob/b2b08cc5a27081881bef81ec4c7ed93da02e8206/html5lib/html5parser.py#L166-L168

`lastPhase` used to be a useful field, it appears it was renamed to `originalPhase` in https://github.com/html5lib/html5lib-python/commit/43a27279dcaeed3f5ab141db0eac42dbc0e2fc47

From what I can tell `beforeRCDataPhase` was something was either introduced unnecessarily or w

[2020-12-16 12:20] jayaddison commented on #314
Is there a recommended way to profile `html5lib`?  The benchmarks are useful for confirming whether a change/refactor has made an improvement, but it's tricky to figure out where to focus on without having a recommended profiler.

[2020-12-16 13:28] gsnedders commented on #314
For #493 I used a mixture of vmprof and py-spy, both of which are sampling profilers, and did some based on the things in the benchmarks directory and some from profiling entire applications using html5lib (which, e.g., showed up the cost of constructing the parser objects).

[2020-12-16 13:43] jayaddison commented on #314
Brilliant, thanks @gsnedders.  Unlikely I'll find anything that hasn't been examined already, but keen to figure out a good process to investigate with.

[2020-12-16 14:33] gsnedders commented on #314
@jayaddison There's certainly plenty of places where there are potential gains: there's a bunch of places around SVG and MathML in HTML where we could do things quicker, but the comparative rarity of it means it's never been a priority; most of my attention in recent years has been kinda focused on the parser and etree treebuilder, and anything outside of that probably hasn't got much interest in

[2020-12-16 14:50] jayaddison commented on #314
Anything I could use a few spare cycles to help with there?  (I saw #24 and figured that might have decent impact, but as I'm fairly new to the codebase it might take a little while)

[2020-12-16 15:53] gsnedders commented on #314
#24 won't make much impact till it's using Cython I suspect? Also when the parser needs updated to be up-to-date with the spec there's probably not too much point in spending effort there. But no, there's not a huge amount worthwhile doing IMO?

[2020-12-17 11:32] jayaddison commented on #314
Okie doke.  Glad to help out with anything performance-related if & when that'd be useful.

[2020-12-29 18:05] jayaddison commented on #24
@gsnedders I've been doing a little work towards this (partly out of curiosity to see what the impact could be like), and should soon have a branch ready to offer with tokens-as-objects and a few related cleanups (attribute handling, in particular).

So far I'm seeing slight performance degradation as a result, so I'm doing a bit of investigation to figure out what might be causing that.

[2021-01-08 11:15] gsnedders opened #525 "Move away from Travis CI"
Probably to GitHub Actions?

While we're rewriting the config, we may well want to migrate to [cibuildwheel](https://pypi.org/project/cibuildwheel/) at the same time, especially before #445 happens (when we'll then need the infra to build non-universal wheels for releases cross-platform).

[2021-01-10 11:53] jayaddison commented on #525
GitHub actions is probably the most straightforward alternative at the moment, yep.

Could we build [`universal` wheels](https://wheel.readthedocs.io/en/stable/user_guide.html?highlight=universal#building-wheels)?  I think that'd allow building and publishing wheels without introducing additional build-time dependencies.

Thoughts on build configuration:

During migration, running `tox` is likely

[2021-01-10 12:45] jayaddison commented on #525
Hrm, mapping GHA `strategy.matrix`-based jobs to single `tox` environments looks a little tricky due to the [combinatorial `envlist`](https://github.com/html5lib/html5lib-python/blob/2c19b9899ab3a3e8bd0ca35e5d78544334204169/tox.ini#L2).

[2021-01-10 13:13] jayaddison commented on #203
@willkg @gsnedders fyi - it looks like https://github.com/html5lib/html5lib-python/pull/395 can contribute to resolving this issue.

NB: The code block referenced in the issue description within `constants.py` is now viewable [here](https://github.com/html5lib/html5lib-python/blob/af19281fa28788830684b4c8fc6d0c588b092616/html5lib/constants.py#L559-L575).

[2021-01-11 13:25] jayaddison commented on #361
Initially I was supportive of this issue, but at the moment I'm a little less certain.

Would it be possible to state what processes would help to keep `html5lib-python` moving forward first, and then use those factors to determine what's required (funding / governance / other)?

While stability and safety of the parser are paramount (first do no harm, basically), there's a low but ongoing and man

[2021-01-13 13:26] bindnera opened #528 "AttributeError: module 'html5lib.treebuilders' has no attribute '_base' (Python3.9)"
By all sense of the meaning; I'm not a programmer, so I apologize upfront if this is out of place. That said, I was trying to resurrect a project from another researcher switching it over from Python 2.7 to Python 3.9. Lot's of clean up, but I stumbled upon this error at execution of MyProject:

Traceback (most recent call last):
  File "/home/user/MyProject.py", line 25, in <module>
    import ar

[2021-01-13 13:51] gsnedders commented on #528
Without looking too closely, I suspect you need a more up-to-date version of beautifulsoup4. Can you try using the latest BS4 release and see if it works?

[2021-01-14 09:33] bindnera commented on #528
Same issue, but this is Kali Linux, so.. that's not saying much. I'll setup an Ubuntu 20.04 instance this weekend and try again.

root@kali:~# apt install python3-bs4 python-bs4 python3-html5lib python-html5lib
Reading package lists... Done
Building dependency tree
Reading state information... Done
python3-bs4 is already the newest version (4.9.3-1).
python3-html5lib is already the newest version

[2021-01-19 05:30] kloczek opened #529 "1.1: test suite is failing"
[code]

[2021-01-19 05:41] kloczek commented on #529
tox based test suite is warnings:
[code]

[2021-01-19 14:32] jayaddison commented on #529
This may be a duplicate of #505 (support for `pytest` v6), and has been resolved by pull request #506 (pending an updated release of `html5lib`).

[2021-01-19 15:44] kloczek commented on #529
FYI I'm usimg pytest 6.2.1.

[2021-01-19 15:53] kloczek commented on #529
Just tested that patch.
Still I see some warnings:
[code]
I can confirm that with https://github.com/html5lib/html5lib-python/issues/505 pytest is now happy :)

BTW which one method fo uou recommend of the test suite execution? straight pytest or over tox?

[2021-01-19 16:29] jayaddison commented on #529
This looks like an advisory message, as far as I can tell - reading up on the issue it links to (and adding any feedback you have) could be useful if & when you have time.

Glad to hear that!

It depends on what you're trying to do, I think.  The [current guidance](https://github.com/html5lib/html5lib-python/tree/5cd73ef383cdf9dd93f81a214b4bd364b579ff6d#tests) seems to recommend `pytest` if you're

[2021-01-24 10:25] jayaddison opened #530 "Evaluate application of PyPy performance best-practices"
Currently the [PyPy performance difference documentation](https://doc.pypy.org/en/latest/cpython_differences.html#performance-differences) notes that repeated string concatenation will result in quadratic complexity in PyPy whereas CPython is able to optimize this out.

Although most of the code in `html5lib` is not clearly performing repeat string contenation within loops, it's possible that this